@if (isEmpty()) {
  <span class="text-3xl font-semibold text-center">{{ "component.error.no.error" | translate }}</span>
} @else {
  <div class="flex flex-col gap-8">

    <div class="flex flex-col items-center gap-2">
      <span class="text-3xl font-semibold text-center">{{ "component.error" | translate }}</span>
      <span class="text-primary text-center">{{ "component.error.advice" | translate }}</span>
    </div>


    @for (error of errors(); track error.id) {
      <app-error-item [error]="error"/>
    }
  </div>
}
