<ul class="flex list-none m-0 p-0 gap-2 align-items-center">
  @if (isDark()) {
    <li>
      <button (click)="toggleDarkMode()"
              type="button"
              class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round
        surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
        <i class="pi pi-sun"></i>
      </button>
    </li>
  } @else {
    <li>
      <button (click)="toggleDarkMode()"
              class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round
        surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
        <i class="pi pi-moon"></i>
      </button>
    </li>
  }

  <li (click)="switchTheme()">
    <button
      type="button"
      class="button p-button flex border-1 p-0 align-items-center justify-content-center transition-all transition-duration-300 min-w-0">
      <i class="pi pi-palette"></i>
    </button>
  </li>
</ul>
