<p-card title="Delivery Address">
  <div class="flex flex-col gap-4" title="Delivery Details">
    <span class="text-2xl text-primary">{{ "view.delivery.header" | translate }}</span>

    <div class="flex flex-col gap-2">

      @if (selectedStore() !== null) {
        <span title="Pick-up Time">{{ "view.delivery.pickup.time.selected" | translate }}:
                <span
                  class="text-primary uppercase">{{ orderDetails().deliveryTime | translate }}</span></span>

        <div class="flex flex-col gap-4">
          <span title="Pick-up Store">{{ "view.delivery.pickup.store.selected" | translate }}:</span>
          <app-store-checkout
            [orientation]="'vertical'"
            [highlight]="true"
            [invalid]="true"
            [store]="selectedStore()!"/>
        </div>

      } @else {
        <span title="Time of Delivery">{{ "view.delivery.time.selected" | translate }}:
                <span class="text-primary uppercase">{{ orderDetails().deliveryTime | translate }}</span></span>

        <span title="Address">{{ "form.label.delivery.address" | translate }}:
                <span class="text-primary uppercase">{{ address() }}</span></span>
      }

    </div>
  </div>
</p-card>
