<div
  (click)="selectStore()"
  [ngClass]="['card flex flex-col gap-4 border-2 border-transparent rounded-xl',
  selected() === store().address ? '!border-primary transition-all duration-300' : '',
  !invalid() ? 'invalid-border rounded-xl transition-all duration-300' : '']"
  title="{{ store().name }} Store">

  <span [ngClass]="['text-xl', highlight() ? 'text-primary' : '']" title="{{ store().name }}">{{ store().name }}</span>

  <div [ngClass]="['store justify-between', orientation() === 'horizontal' ? '' : 'flex flex-col gap-6']">

    <div class="flex items-center gap-2">
      <i class="pi pi-map" title="{{ store().name }} Map Icon"></i>
      {{ store().address }}
    </div>

    <div class="flex items-center gap-2">
      <i class="pi pi-phone" title="{{ store().name }} Phone Icon"></i>
      {{ store().phoneNumber }}
    </div>

    <div class="flex items-center gap-2">
      <i class="pi pi-calendar-clock" title="{{ store().name }} Schedule Icon"></i>
      <span>{{ currentLang() === 'en' ? store().schedule['en'] : store().schedule['es'] }}</span>

    </div>
  </div>
</div>
