<p-menubar [dt]="userMenuBar()" [model]="userProfileMenu" breakpoint="320px">
  <ng-template #item let-item>
    <div [routerLink]="item.route" class="cursor-pointer" title="{{ item.label | translate }}">
      <div class="flex justify-center items-center" routerLinkActive="color">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label | translate }}</span>
      </div>
    </div>
  </ng-template>
</p-menubar>

@if (passAuthVisibility) {
  <app-password-authorization
    title="component.user.admin.authorize"
    action="button.continue"
    [guestAction]="true"
    (password)="onAuthorizedPassword($event)"
    [(show)]="passAuthVisibility"
  />
}
