<p-menubar [dt]="userMenuBar()" [model]="userProfileMenu" breakpoint="320px">
  <ng-template #item let-item>
    <a [routerLink]="item.route" class="flex justify-center items-center" routerLinkActive="color"
       title="{{item.label}}">
      <span [class]="item.icon" title="{{item.label | translate}} Icon"></span>
      <span class="ml-2" title="{{item.label | translate}}">{{ item.label | translate }}</span>
    </a>
  </ng-template>
</p-menubar>
@if (passAuthVisibility) {
  <app-password-authorization
    title="component.user.admin.authorize"
    action="button.continue"
    [guestAction]="true"
    (password)="onAuthorizedPassword($event)"
    [(show)]="passAuthVisibility"
  />
}
