@if (checkoutFormService.orderSuccess() === null) {
  <div class="flex flex-column gap-5 justify-content-between align-items-center">
    <span class="text-center text-4xl font-italic">{{ "component.order.success.no.content" | translate }}</span>
    <p-button
      type="button"
      (onClick)="goBack()"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <div class="flex flex-column align-items-center gap-5">
    <span
      class="text-4xl text-center">{{ "view.order" | translate }} {{ checkoutFormService.orderSuccess()!.id }} {{ "view.order.created" | translate }}</span>
    <span
      class="text-2xl text-center">{{ "view.order.created.on" | translate }} {{ checkoutFormService.orderSuccess()!.formattedCreatedOn }}</span>

    <div class="flex gap-5">
      <div class="flex flex-column gap-5">
        <app-customer-details [customer]="checkoutFormService.orderSuccess()!.customer"/>
        <app-address-details
          [address]="checkoutFormService.orderSuccess()!.address"
          [orderDetails]="checkoutFormService.orderSuccess()!.orderDetails"

        />
        <app-order-details
          [orderDetails]="checkoutFormService.orderSuccess()!.orderDetails"/>
      </div>

      <!-- TODO - Cart max height check screenshot -->
      <div class="cart">
        <app-cart-checkout/>
      </div>
    </div>
    <div class="flex flex-column align-items-center gap-3">
      @if (!isAuthenticated()) {
        <span class="text-center">{{ "component.order.success.anon.advice" | translate }}</span>
        <span class="text-center text-primary"
              routerLink="/registration">{{ "component.order.success.anon.link" | translate }}</span>
      }
    </div>
  </div>
}
