<p-card header="{{store().name}}" [style]="{ width: '320px' }">
  <ng-template pTemplate="header">
    <img class="rounded-border" src="{{store().image}}" alt="Store image">
  </ng-template>

  <div class="flex flex-col gap-3">
    <div class="flex gap-2 items-center">
      <i class="pi pi-map"></i>
      {{ store().address.street }} {{ store().address.number }}
    </div>
    <div class="flex gap-2 items-center">
      <i class="pi pi-phone"></i>
      {{ store().phoneNumber }}
    </div>
  </div>

  <ng-template pTemplate="footer">

    <p-accordion value="0">
      <p-accordion-panel value="1">

        <p-accordion-header>
          {{ 'component.store.item.schedule' | translate }}
        </p-accordion-header>

        <p-accordion-content>
          <span>{{ currentLang() === "en" ? store().schedule.en : store().schedule.es }}</span>
        </p-accordion-content>

      </p-accordion-panel>
    </p-accordion>

  </ng-template>
</p-card>
