<p-card title="{{store().name}}" header="{{store().name}}" [style]="{ width: '320px' }">

  <ng-template pTemplate="header">
    <img
      title="Store Map Location"
      class="rounded-border"
      ngSrc="{{store().image}}"
      alt="{{store().name}} Location on Map"
      width="320"
      height="220">
  </ng-template>

  <div title="Store Details" class="flex flex-col gap-3">

    <div title="{{store().name}} Location" class="flex gap-2 items-center">
      <i title="{{store().name}} Location Icon" class="pi pi-map"></i>
      <span title="Address">{{ store().address.street }} {{ store().address.number }}</span>
    </div>

    <div title="{{store().name}} Contact" class="flex gap-2 items-center">
      <i title="{{store().name}} Phone Icon" class="pi pi-phone"></i>
      <span title="Contact Number">{{ store().phoneNumber }}</span>
    </div>

  </div>

  <ng-template pTemplate="footer">

    <p-accordion value="0">
      <p-accordion-panel value="1">

        <p-accordion-header title="Schedule">
          {{ 'component.store.item.schedule' | translate }}
        </p-accordion-header>

        <p-accordion-content>
          <span
            title="Schedule Details">{{ currentLang() === "en" ? store().schedule['en'] : store().schedule['es'] }}</span>
        </p-accordion-content>

      </p-accordion-panel>
    </p-accordion>

  </ng-template>
</p-card>
