<div class="list flex flex-col justify-between gap-4 w-full">
  <div class="flex flex-col gap-4 w-full">
    @if (orderList.status() === "success") {
      @if (orderList.data()!.payload !== null && orderList.data()!.payload.totalElements !== 0) {
        @for (orderSummary of orderList.data()!.payload.orderList; track orderSummary.id) {
          <app-order-summary [orderSummary]="orderSummary"/>
        }
      } @else {
        <span class="text-center">{{ "component.user.order.list.empty" | translate }}</span>
      }
    } @else if (orderList.status() === 'error') {
      <app-server-error/>
    }
  </div>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="currentElements"
    [rows]="pageSize()"
    [totalRecords]="orderList.status() === 'success' && orderList.data()!.payload !== null ? orderList.data()!.payload.totalElements : 0"
    [rowsPerPageOptions]="[5, 10, 20]"/>
</div>
