<div title="Orders Summary" class="list flex flex-col justify-between gap-4 w-full">
  @if (orderList.status() === 'error') {
    <app-server-error/>
  }

  <ul class="flex flex-col justify-center gap-4 w-full" title="Orders Summary List">
    @if (orderList.status() === 'pending') {
      <ng-container *ngFor="let _ of [].constructor(5)">
        <li>
          <p-skeleton height="131.5px"/>
        </li>
      </ng-container>
    }

    @if (orderList.status() === 'success') {
      @if (orderList.data()! !== null && orderList.data()!.totalElements !== 0) {
        @for (orderSummary of orderList.data()!.orderList; track orderSummary.id) {
          <li>
            <app-order-summary [orderSummary]="orderSummary"/>
          </li>
        }
      } @else {
        <span class="text-center text-2xl">{{ "component.user.order.list.empty" | translate }}</span>
      }
    }
  </ul>

  <p-paginator
    title="Paginator"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="5"
    [totalRecords]="totalElements"/>
</div>
