<div title="Orders Summary" class="list flex flex-col justify-between gap-4 w-full">
  @if (orderList.status() === 'error') {
    <app-server-error/>
  }

  @if (orderList.status() === "success") {

    @if (orderList.data()!.payload !== null && orderList.data()!.payload.totalElements !== 0) {

      <ul class="flex flex-col gap-4 w-full" title="Orders Summary List">
        @for (orderSummary of orderList.data()!.payload.orderList; track orderSummary.id) {
          <li>
            <app-order-summary [orderSummary]="orderSummary"/>
          </li>
        }
      </ul>

    } @else {
      <span class="text-center text-2xl">{{ "component.user.order.list.empty" | translate }}</span>
    }
  }

  <p-paginator
    title="Paginator"
    (onPageChange)="onPageChange($event)"
    [first]="currentElements"
    [rows]="pageSize()"
    [totalRecords]="orderList.status() === 'success' && orderList.data()!.payload !== null ? orderList.data()!.payload.totalElements : 0"
    [rowsPerPageOptions]="[5, 10, 20]"/>
</div>
