<div class="flex flex-col gap-2" title="Filters Box">

  <div class="filter-box">
    <div class="flex justify-between">

      <div (click)="toggle()" class="flex gap-2 cursor-pointer" title="Toggle Filters">
        <i class="flex items-center color cursor-pointer"></i>
        <span class="cursor-pointer" title="Filters">{{ "component.products.filters.drawer.header" | translate }}</span>
      </div>

      <i
        (click)="clear()"
        [ngClass]="['flex items-center color cursor-pointer', areFiltersEmpty() ? 'pi pi-filter' : 'pi pi-filter-fill' ]"
        title="Remove All Filters">
      </i>
    </div>

    @if (!areFiltersEmpty()) {
      <div class="flex flex-wrap gap-1" @pillsAnimation>
        @for (filter of filters(); track $index) {
          @let severity = filter.include ? 'success' : 'danger';
          @let state = filter.include ? 'On' : 'Off';
          <p-tag
            title="{{ filter.name | translate }} {{ state }}"
            @pillsAnimation
            [style]="{ fontSize: '12px', cursor: 'pointer'} "
            [rounded]="true"
            [value]="filter.name | translate"
            [severity]="severity"
            (click)="toggleFilter(filter.name, filter.type)"/>
        }
      </div>
    }
  </div>
</div>

@if (drawerFiltersVisible) {
  <p-drawer [(visible)]="drawerFiltersVisible" position="left">

    <ng-template pTemplate="header">
      <span class="font-bold font text-2xl ml-1">{{ "component.products.filters.drawer.header" | translate }}</span>
    </ng-template>

    <div title="Filters Drawer" class="flex flex-col gap-2">
      @if (!areFiltersEmpty()) {
        <div class="flex flex-wrap gap-1" @pillsAnimation>
          @for (filter of filters(); track $index) {
            @let severity = filter.include ? 'success' : 'danger';
            @let state = filter.include ? 'On' : 'Off';
            <p-tag
              title="{{ filter.name | translate }} {{ state }}"
              @pillsAnimation
              [style]="{fontSize: '12px', cursor: 'pointer'}"
              [rounded]="true"
              [value]="filter.name | translate"
              [severity]="severity"
              (click)="toggleFilter(filter.name, filter.type)"/>
          }
        </div>
      }

      <div class="flex flex-col gap-2">
        @for (item of items(); track item.header) {
          <app-filter-list [header]="item.header" [items]="item.items" [inverseCardBg]="false"/>
        }
      </div>
    </div>
  </p-drawer>
}
