<div [ngClass]="['flex flex-col rounded-border', product().description === null ? 'container' : 'container-desc' ]">
  <!-- IMAGE -->
  <img class="pb-2 " src="{{product().image}}" alt="Product image">

  <div class="flex flex-col items-center justify-between product-container">

    <!-- NAME -->
    <span class="font-semibold text-xl">{{ currentLang() === 'en' ? product().name.en : product().name.es }}</span>

    <!-- FORMAT -->
    <div class="flex gap-2">
      @if (product().formats.s) {
        <p-button
          (click)="setFormat('S')"
          type="button"
          size="small"
          label="{{ currentLang() === 'en' ? product().formats.s.en : product().formats.s.es  }}"
          [outlined]="this.productFormat()!=='S'"
          [raised]="true"/>
      }

      @if (product().formats.m) {
        <p-button
          (click)="setFormat('M')"
          type="button"
          size="small"
          label="{{ currentLang() === 'en' ? product().formats.m.en : product().formats.m.es  }}"
          [outlined]="this.productFormat()!=='M'"
          [raised]="true"/>
      }

      @if (product().formats.l) {
        <p-button
          (click)="setFormat('L')"
          type="button"
          size="small"
          label="{{ currentLang() === 'en' ? product().formats.l.en : product().formats.l.es  }}"
          [outlined]="this.productFormat()!=='L'"
          [raised]="true"/>
      }
    </div>

    <!-- INGREDIENTES -->
    @if (product().description !== null) {
      <div class="flex justify-center flex-wrap description">
        @if (currentLang() === 'es') {
          <span *ngFor="let ingredient of product().description.es; let last = last">
                {{ ingredient }}
            <ng-container *ngIf="!last">,</ng-container>
          </span>
        } @else {
          <span *ngFor="let ingredient of product().description.en; let last = last">
                {{ ingredient }}
            <ng-container *ngIf="!last">,</ng-container>
          </span>
        }
      </div>
    }

    <!-- PRICE + ADD BUTTON -->
    <div class="flex items-center justify-center gap-4 pb-2">
      <app-product-price [price]="this.productPrice()"/>

      <p-button
        type="button"
        icon="pi pi-plus"
        [raised]="true"
        (click)="addProductToCart()"/>

      @if (product().allergens) {
        <i class="pi pi-exclamation-circle allergens-icon-small" (click)="openAllergensDialog()"></i>
      }
    </div>
  </div>
</div>
<p-dialog
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '576px': '90vw' }"
  [style]="{ width: '25rem' }"
  styleClass="!border-0 !bg-transparent"
  [modal]="true"
  (onHide)="closeAllergensDialog()"
  [dismissableMask]="true"
  [position]="'top'"
  [(visible)]="allergensDialogVisible">
  <ng-template pTemplate="headless">
    <p-card>
      <div class="flex flex-col items-center gap-4">
        <div class="flex flex-col items-center">
          <i class="pi pi-exclamation-triangle allergens-icon-big"></i>
          <span class="font-bold text-2xl uppercase">{{ "component.products.allergens.header" | translate }}</span>
        </div>
        <span>{{ "component.products.allergens.text" | translate }}</span>
        <div class="flex justify-center flex-wrap gap-4 font-bold">
          @if (currentLang() === 'es') {
            @for (allergen of this.product().allergens.es; track $index) {
              <span>{{ allergen }}</span>
            }
          } @else {
            @for (allergen of this.product().allergens.en; track $index) {
              <span>{{ allergen }}</span>
            }
          }
        </div>
      </div>
    </p-card>
  </ng-template>
</p-dialog>
