<div [ngClass]="['flex flex-col rounded-border', product().type !== 'pizza' ? 'container' : 'container-desc' ]">
  <!-- IMAGE -->
  <img class="pb-2 " src="{{product().image}}" alt="Product image">

  <div class="flex flex-col items-center justify-between product-container">

    <!-- NAME -->
    <span class="font-semibold text-xl">{{ currentLang() === 'es' ? product().name.es : product().name.en }}</span>

    <!-- FORMAT -->
    @if (product().formats) {
      <div class="flex gap-2">
        @if (product().formats.s) {
          <p-button
            (click)="setFormat('S')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? product().formats.s.es : product().formats.s.en  }}"
            [outlined]="this.productFormat()!=='S'"
            [raised]="true"/>
        }

        @if (product().formats.m) {
          <p-button
            (click)="setFormat('M')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? product().formats.m.es : product().formats.m.en  }}"
            [outlined]="this.productFormat()!=='M'"
            [raised]="true"/>
        }

        @if (product().formats.l) {
          <p-button
            (click)="setFormat('L')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? product().formats.l.es : product().formats.l.en  }}"
            [outlined]="this.productFormat()!=='L'"
            [raised]="true"/>
        }
      </div>
    }

    <!-- INGREDIENTES -->
    @if (product().description !== null) {
      <div class="flex justify-center flex-wrap description text-center">
        {{ currentLang() === 'es' ? product().description.es.join(", ") : product().description.en.join(", ") }}
      </div>
    }

    <!-- PRICE + ADD BUTTON -->
    <div class="flex items-center justify-center gap-4 pb-2">
      @if (product().prices) {
        <app-product-price [price]="this.productPrice()"/>
      }

      <p-button
        type="button"
        icon="pi pi-plus"
        [raised]="true"
        (click)="addProductToCart()"/>

      @if (product().allergens.es.length > 0) {
        <i class="pi pi-exclamation-circle allergens-icon-small" (click)="openAllergensDialog()"></i>
      }
    </div>
  </div>
</div>
@if (allergensDialogVisible) {
  <p-dialog
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{ width: '25rem' }"
    [breakpoints]="{ '576px': '90vw' }"
    [position]="'top'"
    (onHide)="closeAllergensDialog()"
    [(visible)]="allergensDialogVisible"
    [header]="'component.products.allergens.header' | translate | uppercase"
  >
    <div class="flex flex-col items-center gap-4">
      <div class="flex flex-col items-center">
        <i class="pi pi-exclamation-triangle allergens-icon-big"></i>
      </div>
      <span>{{ "component.products.allergens.text" | translate }}</span>
      <div class="flex justify-center flex-wrap gap-4 font-bold">
        @if (currentLang() === 'es') {
          @for (allergen of this.product().allergens.es; track $index) {
            <span>{{ allergen }}</span>
          }
        } @else {
          @for (allergen of this.product().allergens.en; track $index) {
            <span>{{ allergen }}</span>
          }
        }
      </div>
    </div>
  </p-dialog>
}
