<p-panel [style]="{ width: 'min-content', height: product().description === null ? '22rem' : '29rem'}">
  <div>
    <!-- IMAGE -->
    <div>
      <img class="border-round" src="{{product().image}}" width="205" height="190" alt="Product image">
    </div>

    <!-- NAME + FORMAT -->
    <div class="flex flex-column align-items-center">

      <div class="flex flex-column align-items-center gap-2">
        <span class="font-semibold text-xl">{{ currentLang() === 'en' ? product().name.en : product().name.es }}</span>

        <div class="flex gap-2">
          @if (product().formats.s) {
            <p-button
              (click)="setFormat('S')"
              type="button"
              size="small"
              label="{{ currentLang() === 'en' ? product().formats.s.en : product().formats.s.es  }}"
              [outlined]="this.productFormat()!=='S'"
              [raised]="true"/>
          }

          @if (product().formats.m) {
            <p-button
              (click)="setFormat('M')"
              type="button"
              size="small"
              label="{{ currentLang() === 'en' ? product().formats.m.en : product().formats.m.es  }}"
              [outlined]="this.productFormat()!=='M'"
              [raised]="true"/>
          }

          @if (product().formats.l) {
            <p-button
              (click)="setFormat('L')"
              type="button"
              size="small"
              label="{{ currentLang() === 'en' ? product().formats.l.en : product().formats.l.es  }}"
              [outlined]="this.productFormat()!=='L'"
              [raised]="true"/>
          }

        </div>
      </div>

      <!-- INGREDIENTES -->
      @if (product().description !== null) {
        <div [ngClass]="product().description === null ? 'h-2rem' : 'h-7rem'"
             class="flex flex-column justify-content-center text-center w-11">{{ currentLang() === 'en' ? product().description.en : product().description.es }}
        </div>
      }

      <!-- PRICE + ADD BUTTON -->
      <div class="flex align-items-center justify-content-center gap-3 pt-2">

        <app-product-price [price]="this.productPrice()"/>

        <p-button
          type="button"
          size="small"
          icon="pi pi-plus"
          [raised]="true"
          (click)="addProductToCart()"/>

      </div>
    </div>
  </div>
</p-panel>
