<div class="page flex flex-col gap-4">
  @if (orderStatisticsByOrderState.status() === 'error') {
    <app-server-error/>
  }

  @if (orderStatisticsByOrderState.status() === 'pending') {
    <p-skeleton width="65vw" height="444px"/>
  }

  @if (orderStatisticsByOrderState.status() === 'success') {
    <app-statistics-bar
      title="component.admin.nav.metrics.order.state"
      [(timeLine)]="timeLineByOrderState"
      [queryKey]="byOrderStateQueryKey()"
      [dataLabels]="[ordersCompletedLabels, ordersCancelledLabels]"
    />
  }

  @if (orderStatisticsByUserState.status() === 'pending') {
    <p-skeleton width="65vw" height="444px"/>
  }

  @if (orderStatisticsByUserState.status() === 'success') {
    <app-statistics-bar
      title="component.admin.nav.metrics.user.state"
      [(timeLine)]="timeLineByUserState"
      [queryKey]="byUserStateQueryKey()"
      [dataLabels]="[ordersByRegisteredLabels, ordersByAnonymousLabels]"
    />
  }
</div>
