<div class="page flex flex-col gap-4">
  @if (orderStatisticsByOrderState.status() === 'error') {
    <app-server-error/>
  }

  @if (orderStatisticsByOrderState.status() === 'pending') {
    <p-skeleton width="65vw" height="513px"/>
  }

  @if (orderStatisticsByOrderState.status() === 'success') {
    <app-statistics-bar
      [header]="headerByOrderState"
      [(timeLine)]="timeLineByOrderState"
      [queryKey]="byOrderStateQueryKey()"
      [dataLabels]="[ordersCompletedLabels, ordersCancelledLabels]"
    />
  }

  <div class="clients-container">
    @if (orderStatisticsByUserState.status() === 'pending') {
      <div class="clients-bar">
        <p-skeleton height="513px"/>
      </div>
    }

    @if (orderStatisticsByUserState.status() === 'success') {
      <div class="clients-bar">
        <app-statistics-bar
          [header]="headerByUserState"
          [(timeLine)]="timeLineByUserState"
          [queryKey]="byUserStateQueryKey()"
          [dataLabels]="[ordersByRegisteredLabels, ordersByAnonymousLabels]"
        />
      </div>
    }

    @if (orderStatisticsByUserStateAll.status() === 'pending') {
      <div class="clients-doughnut">
        <p-skeleton height="513px"/>
      </div>
    }

    @if (orderStatisticsByUserStateAll.status() === 'success') {
      <div class="clients-doughnut">
        <app-statistics-doughnut
          [header]="headerByUserState"
          [queryKey]="byUserStateAllQueryKey"
          [dataLabels]="[ordersByRegisteredLabels, ordersByAnonymousLabels]"
        />
      </div>
    }
  </div>
</div>
