<p-card>
  @if (error() === null) {
    <span class="text-3xl font-semibold">No unexpected error found</span>
  } @else {
    <div class="flex flex-column gap-3">
      <div class="flex flex-column align-items-center gap-2">
        <span class="text-3xl font-semibold">An unexpected error has occurred</span>
        <span class="text-primary">We apologize for any inconvenience. Please try again later.</span>
      </div>

      <div class="flex flex-column gap-3">
        <span class="text-2xl">Error details</span>
        <div class="flex flex-column gap-2">
          <div class="flex align-items-center gap-2">
            <span class="font-bold">Path</span>
            <p-button
              label="{{ error()!.path }}"
              [text]="true"
              [raised]="true"
              severity="danger"/>
          </div>
          <div class="flex align-items-center gap-2">
            <span class="font-bold">Origin</span>
            <p-button
              label="{{ error()!.origin }}"
              [text]="true"
              [raised]="true"
              severity="danger"/>
          </div>

          <div class="flex align-items-center gap-2">
            <span class="font-bold">Cause</span>
            <p-button
              label="{{ error()!.cause}}"
              [text]="true"
              [raised]="true"
              severity="danger"/>
          </div>

          <div class="flex align-items-center gap-2">
            <span class="font-bold">Message</span>
            <p-button
              label="{{ error()?.message}}"
              [text]="true"
              [raised]="true"
              severity="danger"/>
          </div>

          <div class="flex align-items-center gap-2">
            <span class="font-bold">Logged</span>
            <p-button
              label="{{ error()!.logged}}"
              [text]="true"
              [raised]="true"
              severity="danger"/>
          </div>

          <div class="flex align-items-center gap-2">
            <span class="font-bold">Fatal</span>
            <p-button
              label="{{ error()!.fatal}}"
              [text]="true"
              [raised]="true"
              severity="danger"/>
          </div>
        </div>
      </div>
    </div>
  }
</p-card>
