<div class="container">

  <div class="products-search flex flex-col gap-3">
    <app-products-search (onSearch)="setSearchText($event)"/>
    <app-products-filter [items]="getAllFilters()"/>
  </div>

  <div class="flex flex-col items-center gap-8">
    <div class="products flex justify-start flex-wrap gap-y-12 gap-x-12">

      @if (query.status() === "success" && query.data()!.payload !== null) {
        @for (product of query.data()!.payload | productsSearch: searchText():searchFilters(); track product.id) {
          <app-product [product]="product"/>
        }
      }

      @if (query.status() === "error") {
        <app-server-error/>
      }
    </div>
  </div>
</div>
