.products {
  width: 63vw;
}

.products-search-sm {
  display: none;
}

@media (max-width: 929px) {
  .products-search {
    display: none;
  }

  .products-search-sm {
    width: 210px;
    display: flex;

  }

  .products {
    width: 100%;
    justify-content: center;
  }
}
