.container {
  position: absolute;
  top: auto;
  right: 10%;
  padding: 0.75rem;
  width: fit-content;
  z-index: 10;
}

:host ::ng-deep .p-button {
  width: 100%;
}

.item-background {
  background-color: var(--p-surface-nav-item-bg);
  border-color: var(--p-surface-nav-item-border);
}

.item-background:hover {
  border-color: var(--p-primary-color);
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 400ms !important;
}
