<li>
  <button #locale (click)="toggle()"
          class="p-element p-link flex align-items-center surface-card h-2rem px-2 hover:surface-hover border-1 border-solid surface-border transition-all transition-duration-300 hover:border-primary">
    <i class="pi pi-language"></i>
  </button>
  <div
    [ngClass]="{'container surface-overlay border-round shadow-1 origin-top mt-2 z-5':visible, 'hidden':!visible}">
    <div class="flex flex-column gap-2 m-0 p-0">
      <p-button
        (click)="changeLanguage('es')"
        label="Castellano"
        [text]="true"
        [raised]="true"/>
      <p-button
        (click)="changeLanguage('en')"
        label="English"
        [text]="true"
        [raised]="true"/>
    </div>
  </div>
</li>
