<button #locale (click)="toggle()"
        aria-label="Choose Language"
        class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background">
  <i class="pi pi-language"></i>
</button>
<div
  [ngClass]="{'container rounded-border shadow-sm origin-top mt-2 border border-primary':visible, 'hidden':!visible}">
  <div class="flex flex-col gap-2 m-0 p-0">
    <p-button
      (click)="changeLanguage('es')"
      label="Castellano"
      [text]="true"
      [raised]="true"/>
    <p-button
      (click)="changeLanguage('en')"
      label="English"
      [text]="true"
      [raised]="true"/>
  </div>
</div>
