<div [ngClass]="['flex flex-col rounded-border', theProduct().type !== 'pizza' ? 'container' : 'container-desc' ]">
  <!-- IMAGE -->
  <img title="{{theProduct().name.es}} Image" class="pb-2" ngSrc="{{theProduct().image}}" width="210" height="190"
       alt="{{theProduct().name.es}} Image">

  <div class="flex flex-col items-center justify-between product-container">

    <!-- NAME -->
    <span title="Name"
          class="font-semibold text-xl text-center">{{ currentLang() === 'es' ? theProduct().name.es : theProduct().name.en }}</span>

    <!-- FORMAT -->
    @if (theProduct().formats) {
      <div class="flex gap-2">
        @if (theProduct().formats.s) {
          <p-button
            title="{{theProduct().name.es}} Small"
            (click)="setFormat('S')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? theProduct().formats.s.es : theProduct().formats.s.en  }}"
            [outlined]="this.productFormat!=='S'"
            [raised]="true"/>
        }

        @if (theProduct().formats.m) {
          <p-button
            title="{{theProduct().name.es}} Medium"
            (click)="setFormat('M')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? theProduct().formats.m.es : theProduct().formats.m.en  }}"
            [outlined]="this.productFormat!=='M'"
            [raised]="true"/>
        }

        @if (theProduct().formats.l) {
          <p-button
            title="{{theProduct().name.es}} Large"
            (click)="setFormat('L')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? theProduct().formats.l.es : theProduct().formats.l.en  }}"
            [outlined]="this.productFormat!=='L'"
            [raised]="true"/>
        }
      </div>
    }

    <!-- INGREDIENTES -->
    @if (theProduct().description !== null) {
      <div title="{{theProduct().name.es}} Ingredients" class="flex justify-center flex-wrap description text-center">
        {{ currentLang() === 'es' ? theProduct().description.es.join(", ") : theProduct().description.en.join(", ") }}
      </div>
    }

    <!-- PRICE + ADD BUTTON -->
    <div class="flex items-center justify-center gap-4 pb-2">
      @if (theProduct().prices) {
        <app-product-price title="{{theProduct().name.es}} Price" [price]="this.productPrice"/>
      }

      <p-button
        title="Add {{theProduct().name.es}} to Cart"
        type="button"
        icon="pi pi-plus"
        [raised]="true"
        size="small"
        aria-label="Add to Cart"
        (click)="addProductToCart()"/>

      @if (theProduct().allergens.es.length > 0) {
        <i
          title="{{theProduct().name.es}} Allergens"
          class="pi pi-exclamation-circle allergens-icon-small"
          (click)="openAllergensDialog()">
        </i>
      }
    </div>
  </div>
</div>
@if (allergensDialogVisible) {
  <p-dialog
    title="Product Allergens"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{ width: '25rem' }"
    [breakpoints]="{ '576px': '90vw' }"
    [position]="'top'"
    (onHide)="closeAllergensDialog()"
    [(visible)]="allergensDialogVisible"
    [header]="'component.products.allergens.header' | translate | uppercase"
  >
    <div class="flex flex-col items-center gap-4">
      <div class="flex flex-col items-center">
        <i title="Allergens Warning Icon" class="pi pi-exclamation-triangle allergens-icon-big"></i>
      </div>
      <span title="Header">{{ "component.products.allergens.text" | translate }}</span>
      <div class="flex justify-center flex-wrap gap-4 font-bold">
        @if (currentLang() === 'es') {
          @for (allergen of this.theProduct().allergens.es; track $index) {
            <span title="{{ allergen }}">{{ allergen }}</span>
          }
        } @else {
          @for (allergen of this.theProduct().allergens.en; track $index) {
            <span title="{{ allergen }}">{{ allergen }}</span>
          }
        }
      </div>
    </div>
  </p-dialog>
}
