<p-card [style]="{ width: '320px' }" header="{{ store().name }}">

  <ng-template pTemplate="header">
    <img
      alt="{{ store().name }} Location on Map"
      class="rounded-border"
      height="220"
      ngSrc="{{ store().image }}"
      width="320">
  </ng-template>

  <div class="flex flex-col gap-3">

    <div class="flex gap-2 items-center">
      <i class="pi pi-map"></i>
      <span>{{ store().address }}</span>
    </div>

    <div class="flex gap-2 items-center">
      <i class="pi pi-phone"></i>
      <span>{{ store().phoneNumber }}</span>
    </div>

  </div>

  <ng-template pTemplate="footer">

    <p-accordion value="0">
      <p-accordion-panel value="1">

        <p-accordion-header>
          {{ 'component.store.item.schedule' | translate }}
        </p-accordion-header>

        <p-accordion-content>
          <span>{{ currentLang() === "en" ? store().schedule['en'] : store().schedule['es'] }}</span>
        </p-accordion-content>

      </p-accordion-panel>
    </p-accordion>

  </ng-template>
</p-card>
