<p-card
  title="Offer"
  header="{{currentLang() === 'en' ? offer().name.en : offer().name.es}}"
  [style]="{ width: '320px' }">

  <ng-template pTemplate="header">
    <img
      title="Offer Image"
      class="rounded-border" ngSrc="{{offer().image}}"
      alt="{{currentLang() === 'en' ? offer().name.en : offer().name.es}} Offer"
      width="320"
      height="255"
      priority>
  </ng-template>

  <span title="Description">{{ currentLang() === 'en' ? offer().description.en : offer().description.es }}</span>

  <ng-template pTemplate="footer">

    <p-accordion value="0">
      <p-accordion-panel value="1">

        <p-accordion-header title="Conditions">
          {{ 'component.offer.item.conditions' | translate }}
        </p-accordion-header>

        <p-accordion-content>
          <span title="Offer Details">{{ currentLang() === 'en' ? offer().caveat.en : offer().caveat.es }}</span>
        </p-accordion-content>

      </p-accordion-panel>
    </p-accordion>

  </ng-template>
</p-card>
