<li>
  <button (click)="logoutPopup($event)" type="button"
          class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round
        surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
    <i class="pi pi-sign-out"></i>
  </button>

  <p-confirmPopup>
    <ng-template pTemplate="headless">
      <div class="border-round p-3">
        <span>{{ 'navigation.button.logout.title' | translate }}</span>
        <div class="flex align-items-center gap-2 mt-3">
          <p-button (onClick)="acceptLogout()" label="{{ 'navigation.button.logout.accept' | translate }}"
                    size="small"/>
          <p-button (onClick)="rejectLogout()" label="{{ 'navigation.button.logout.reject' | translate }}"
                    [outlined]="true" size="small"/>
        </div>
      </div>
    </ng-template>
  </p-confirmPopup>
</li>
