<div class="fixed top-0 left-0 w-screen style">
  <div class="flex items-center justify-between">
    <!-- ICON SMALL SCREEN -->
    <img
      title="To Home"
      alt="Small Main Pizza Icon"
      routerLink="/"
      class="logo-sm cursor-pointer"
      aria-label="To Home Page"
      ngSrc="/assets/icons/pizzabig.png"
      height="50" width="50">

    <!-- LEFT SIDE LARGE SCREEN QUICK LINKS -->
    <div class="quick-links-ls">
      <img
        title="To Home"
        alt="Large Main Pizza Icon"
        aria-label="To Home Page"
        routerLink="/"
        class="logo-ls cursor-pointer"
        ngSrc="/assets/icons/pizzabig.png"
        height="60"
        width="60">
      <div class="flex gap-12">
        <button
          title="To Pizzas"
          class="text-lg"
          aria-label="To Pizzas Page"
          routerLinkActive="color"
          routerLink="pizzas">
          Pizzas
        </button>
        <button
          title="To Beverages"
          aria-label="To Beverages Page"
          class="text-lg"
          routerLinkActive="color"
          routerLink="beverages">{{ 'component.navigation.quick.link.beverages' | translate }}
        </button>
      </div>
    </div>

    <!-- RIGHT SIDE ICON LIST -->
    <ul title="Navigation Buttons" class="flex list-none m-0 p-0 gap-2 items-center">
      <!-- CART ICON -->
      <li (click)="toggleCartDrawer()" pBadge value="{{this.cartService.quantity()}}">
        <button
          title="Cart"
          type="button"
          aria-label="Open Cart"
          [ngClass]="!bump() ?
                'flex w-10 h-10 border border-solid border-surface rounded-border item-background items-center justify-center' :
                'flex w-10 h-10 border border-solid border-surface rounded-border item-background items-center justify-center bump'"
          [ngStyle]="this.cartService.quantity() !== 0 ? {'color': 'var(--primary-color)'} : {}">
          <i class="pi pi-shopping-cart" style="font-size: 1.25rem"></i>
        </button>
      </li>

      <!-- SMALL SCREEN MENU ICON -->
      <li (click)="toggleMobileLinksDrawer()" class="quick-links-sm">
        <button
          title="Navigation Menu"
          type="button"
          aria-label="Open Site Navigation"
          class="flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background align-items-center justify-content-center">
          <i class="pi pi-bars" style="font-size: 1.25rem"></i>
        </button>
      </li>

      @if (!authService.isAuthenticated) {
        <!-- SIGN IN BUTTON -->
        <li (click)="showLoginDialog()">
          <button
            title="Sign In"
            type="button"
            aria-label="Sign In"
            class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background">
            <i class="pi pi-sign-in" style="font-size: 1.25rem"></i>
          </button>
          @if (authService.loginDialog) {
            <app-login-dialog/>
          }
        </li>
      } @else {
        <!-- USER BUTTON -->
        <li>
          <button
            title="Profile"
            [routerLink]="['user', 'profile']" type="button"
            aria-label="User Home Page"
            class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background">
            <i class="pi pi-user" style="font-size: 1.25rem"></i>
          </button>
        </li>
        <!-- SIGN OUT BUTTON -->
        <li (click)="showLogoutDialog()">
          <button
            title="Sign Out"
            type="button"
            aria-label="Sign out"
            class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background">
            <i class="pi pi-sign-out" style="font-size: 1.25rem"></i>
          </button>
          @if (authService.logoutDialog) {
            <app-logout-dialog/>
          }
        </li>
      }

      <!-- DARK/LIGHT, THEME, LOCALE, BUTTONS -->
      <li>
        <app-locale-selector/>
      </li>
      <li>
        <app-theme-selector/>
      </li>

      <!-- GITHUB BUTTON -->
      <li>
        <a
          title="Author's GitHub"
          aria-label="To Author's Github Page"
          class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background"
          href="https://github.com/Claudius10" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-github" style="font-size: 1.25rem"></i>
        </a>
      </li>
    </ul>
  </div>
  @if (isLoading()) {
    <p-progressBar mode="indeterminate"
                   [style]="{'height': '3px', 'width': '100vw', 'position': 'fixed', 'left': '0px', 'margin-top': '0.5rem'}"/>
  } @else {
    <p-progressBar [value]="100" [showValue]="false"
                   [style]="{'height': '3px', 'width': '100vw', 'position': 'fixed', 'left': '0px', 'margin-top': '0.5rem'}"/>
  }
</div>
@if (linksDrawerVisible) {
  <p-drawer [(visible)]="linksDrawerVisible" [blockScroll]="true">
    <div class="flex flex-col items-center gap-6">
      <button
        title="Home"
        (click)="hideMobileLinksDrawer()"
        class="text-lg font-bold"
        routerLinkActive="color"
        routerLink="/"
        [routerLinkActiveOptions]="{exact: true}">
        {{ 'component.navigation.quick.link.home' | translate }}
      </button>
      <button
        title="Pizzas"
        (click)="hideMobileLinksDrawer()"
        class="text-lg font-bold"
        routerLinkActive="color"
        routerLink="pizzas">
        Pizzas
      </button>
      <button
        title="Beverages"
        (click)="hideMobileLinksDrawer()"
        class="text-lg font-bold"
        routerLinkActive="color"
        routerLink="beverages">{{ 'component.navigation.quick.link.beverages' | translate }}
      </button>
    </div>
  </p-drawer>
}
@if (drawerCartVisible) {
  <p-drawer [(visible)]="drawerCartVisible" position="right" styleClass="!w-[25rem]" [blockScroll]="true">
    <ng-template pTemplate="header">
      <span class="font-bold font text-2xl">{{ "component.navigation.cart.drawer.header" | translate }}</span>
    </ng-template>
    <app-cart [viewOnly]="false" [inSidebar]="true" (onNewOrderClick)="hideCartDrawer($event)"/>
  </p-drawer>
}
