.style {
  z-index: 1100;
  background-color: var(--surface-ground);
  padding: 0.5rem 10.5rem 0.5rem 10.5rem;
}

a, a:visited {
  text-decoration: inherit;
  color: inherit;
}

.logo-ls {
  border-radius: 50%;
  background-color: var(--primary-color);
}

.logo-sm {
  display: none;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.color {
  color: var(--primary-color);
}

:host ::ng-deep .p-progressbar-label {
  display: none;
}

:host ::ng-deep .p-badge {
  min-width: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
}

.quick-links-ls {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.quick-links-sm {
  display: none;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 992px) {
  .style {
    padding: 0.5rem 10.5rem 0.5rem 10.5rem;
  }

  .quick-links-ls {
    display: none;
  }

  .quick-links-sm {
    display: flex;
  }

  .logo-ls {
    display: none;
  }

  .logo-sm {
    display: flex;
  }
}

@media (max-width: 768px) {
  .style {
    padding: 0.5rem 5.5rem 0.5rem 5.5rem;
  }
}

@media (max-width: 576px) {
  .style {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }
}
