<div class="fixed top-0 left-0 w-screen style">
  <div class="flex items-center justify-between">
    <!-- ICON -->
    <img routerLink="/" class="logo-sm" alt="dropdown icon" src="/assets/icons/pizzabig.png" height="60" width="60">

    <!-- LEFT SIDE LARGE SCREEN QUICK LINKS -->
    <div class="quick-links-ls">
      <img routerLink="/" class="logo-ls" alt="dropdown icon" src="/assets/icons/pizzabig.png" height="60" width="60">
      <div class="flex gap-12">
        <p routerLinkActive="color" routerLink="pizzas">Pizzas</p>
        <p routerLinkActive="color"
           routerLink="beverages">{{ 'component.navigation.quick.link.beverages' | translate }}</p>
      </div>
    </div>

    <!-- RIGHT SIDE ICON LIST -->
    <ul class="flex list-none m-0 p-0 gap-2 items-center">
      <!-- CART ICON -->
      <li (click)="toggleCartDrawer()" pBadge value="{{cartQuantity()}}">
        <button type="button"
                [ngClass]="!bump() ?
                'flex w-8 h-8 border border-solid border-surface rounded-border item-background items-center justify-center' :
                'flex w-8 h-8 border border-solid border-surface rounded-border item-background items-center justify-center bump'"
                [ngStyle]="cartQuantity() !== 0 ? {'color': 'var(--primary-color)'} : {}">
          <i class="pi pi-shopping-cart"></i>
        </button>
      </li>

      <!-- SMALL SCREEN MENU ICON -->
      <li (click)="toggleMobileLinksDrawer()" class="quick-links-sm">
        <button type="button"
                class="flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background align-items-center justify-content-center">
          <i class="pi pi-bars"></i>
        </button>
      </li>

      @if (!isAuthenticated()) {
        <!-- SIGN IN BUTTON -->
        <li (click)="showLoginDialog()">
          <button type="button"
                  class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background">
            <i class="pi pi-sign-in"></i>
          </button>
          @if (loginDialog()) {
            <app-login-dialog/>
          }
        </li>
      } @else {
        <!-- USER BUTTON -->
        <li>
          <button [routerLink]="['user', 'profile']" type="button"
                  class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background">
            <i class="pi pi-user"></i>
          </button>
        </li>
        <!-- SIGN OUT BUTTON -->
        <li (click)="showLogoutDialog()">
          <button type="button"
                  class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background">
            <i class="pi pi-sign-out"></i>
          </button>
          @if (logoutDialog()) {
            <app-logout-dialog/>
          }
        </li>
      }

      <!-- DARK/LIGHT, THEME, LOCALE, BUTTONS -->
      <app-locale-selector/>
      <app-theme-selector/>

      <!-- GITHUB BUTTON -->
      <li>
        <a
          class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background"
          href="https://github.com/Claudius10" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-github"></i>
        </a>
      </li>
    </ul>
  </div>
  @if (isLoading()) {
    <p-progressBar mode="indeterminate"
                   [style]="{'height': '2px', 'width': '100vw', 'position': 'fixed', 'left': '0px', 'margin-top': '0.5rem'}"/>
  } @else {
    <p-progressBar [value]="100" [showValue]="false"
                   [style]="{'height': '2px', 'width': '100vw', 'position': 'fixed', 'left': '0px', 'margin-top': '0.5rem'}"/>
  }
</div>
@if (linksDrawerVisible) {
  <p-drawer [(visible)]="linksDrawerVisible">
    <div class="flex flex-col items-center gap-6">
      <p (click)="hideMobileLinksDrawer()" class="cursor-pointer" routerLinkActive="color" routerLink="/"
         [routerLinkActiveOptions]="{exact: true}">
        {{ 'component.navigation.quick.link.home' | translate }}</p>
      <p (click)="hideMobileLinksDrawer()" class="cursor-pointer" routerLinkActive="color" routerLink="pizzas">
        Pizzas</p>
      <p (click)="hideMobileLinksDrawer()" class="cursor-pointer" routerLinkActive="color"
         routerLink="beverages">{{ 'component.navigation.quick.link.beverages' | translate }}</p>
    </div>
  </p-drawer>
}
@if (drawerCartVisible) {
  <p-drawer [(visible)]="drawerCartVisible" position="right" styleClass="!w-96">
    <ng-template pTemplate="header">
      <span class="font-bold font text-2xl">{{ "component.navigation.cart.drawer.header" | translate }}</span>
    </ng-template>
    <app-cart [viewOnly]="false" [inSidebar]="true" (onNewOrderClick)="hideCartDrawer($event)"/>
  </p-drawer>
}
