<div class="form-container flex gap-4">
  <div class="flex flex-col gap-4">
    <div class="steps">
      <p-card>
        <p-steps [activeIndex]="checkoutFormService.step" [model]="steps"/>
      </p-card>
    </div>

    <div class="small-steps">
      <p-card>
        <app-small-screen-steps [activeIndex]="checkoutFormService.step" [items]="steps"/>
      </p-card>
    </div>

    <div class="steps-container h-full">
      <router-outlet/>
    </div>
  </div>

  <div class="checkout-cart">
    <app-cart [viewOnly]="true"/>
  </div>
</div>
