input.ng-invalid.ng-touched {
  border: 1px solid var(--p-red-800);
}

.invalid-text {
  color: var(--p-red-800);
}

.form-container {
  min-height: 57.5rem;
}

.steps-container {
  width: 40vw;
  min-width: 15rem;
}

.steps {
  width: 100%;
}

.checkout-cart {
  max-height: 57.5rem;
  width: 25rem;
}

.small-steps {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1185px) {
  .steps-container {
    width: 40vw;
  }

  .steps {
    display: none;
  }

  .small-steps {
    display: block;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .checkout-cart {
    display: none;
  }

  .steps-container {
    width: 85vw;
  }
}

@media (max-width: 578px) {
  .form-container {
    min-height: 35rem;
  }

  .buttons {
    flex-direction: column-reverse;
    gap: 1.5rem;
    width: 100%;
  }
}
