<p-card>
  <div class="flex flex-col items-center gap-4">
    <span class="text-primary text-4xl font-semibold">{{ header() | translate }}</span>

    <div class="flex flex-col w-full gap-6">
      <div class="flex gap-2">
        <p-selectButton
          [(ngModel)]="timeLine"
          [options]="timeLineOptions"
          [allowEmpty]="false"
          class="flex flex-wrap gap-2"
          id="timeline"
          name="timeline"
          optionLabel="label"
          optionValue="value"
          size="small">
          <ng-template #item let-item>
            <span> {{ item.label | translate }}</span>
          </ng-template>
        </p-selectButton>
      </div>

      <p-chart type="bar" [data]="data" [options]="options"/>
    </div>
  </div>
</p-card>
