<div class="flex gap-2 w-screen border-green-500 border-1">

  <div>
    <button routerLink="">Home</button>
    <button routerLink="menu/pizzas">Pizzas</button>
    <button routerLink="menu/bebidas">{{ 'navigation.button.beverages' | translate }}</button>
  </div>

  <div class="flex gap-2">
    <div>
      @if (!isAuthenticated()) {
        <!-- SIGN IN BUTTON -->
        <app-login-dialog/>
      } @else {
        <ul class="flex list-none m-0 p-0 gap-2 align-items-center">
          <!-- USER BUTTON -->
          <li>
            <button routerLink="usuario/perfil" type="button"
                    class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round
        surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
              <i class="pi pi-user"></i>
            </button>
          </li>

          <!-- SIGN OUT BUTTON -->
          <app-logout-popup/>
        </ul>
      }
    </div>

    <!-- DARK/LIGHT, THEME, LOCALE, BUTTONS -->
    <ul class="flex list-none m-0 p-0 gap-2 align-items-center">
      <app-theme-selector/>
      <app-locale-selector/>

      <!-- GITHUB BUTTON -->
      <a class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round
        surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
        <i class="pi pi-github"></i>
      </a>
    </ul>
  </div>
</div>
<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
