<div class="card flex justify-between items-center">
  <div class="flex flex-col gap-2">
    <span title="Location">{{ "form.label.delivery.address" | translate }}: <span
      class="text-primary">{{ address().street }}</span></span>

    <span title="Number">{{ "form.label.delivery.number" | translate }}: <span
      class="text-primary">{{ address().number }}</span></span>

    @if (address().details !== null) {
      <span title="Details">{{ "form.label.delivery.details" | translate }}: <span
        class="text-primary">{{ address().details }}</span></span>
    }
  </div>
  <p-button
    type="button"
    title="Delete Address"
    severity="danger"
    size="small"
    icon="pi pi-trash"
    [raised]="true"
    (click)="deleteAddress(address().id)"/>
</div>
