<div class="flex flex-col items-center rounded-lg cart-item justify-center">
  <div class="flex justify-center pt-3 pb-3">
    <!-- IMAGE -->

    <div class="flex items-center">
      <img
        alt="Cart Item Icon"
        class="rounded-border"
        height="80"
        ngSrc="{{isDarkMode() ? item().images.light : item().images.dark}}"
        width="80">
    </div>

    <!-- BODY -->
    <div class="flex flex-col justify-center items-center w-60 gap-2">

      <!-- 1ST ROW -> NAME + FORMAT -->
      <div class="flex items-start gap-1">
        <span class="font-bold">{{ currentLang() === 'en' ? this.item().name['en'] : this.item().name['es'] }}</span>

        <div class="flex">
          @if (this.item().formats['s']) {
            <span class="font-bold">{{ currentLang() === 'en' ? this.item().formats['s']!['en'] : this.item().formats['s']!['es'] }}</span>
          }

          @if (this.item().formats['m']) {
            <span class="font-bold">{{ currentLang() === 'en' ? this.item().formats['m']!['en'] : this.item().formats['m']!['es'] }}</span>
          }

          @if (this.item().formats['l']) {
            <span class="font-bold">{{ currentLang() === 'en' ? this.item().formats['l']!['en'] : this.item().formats['l']!['es'] }}</span>
          }
        </div>
      </div>

      <!-- 2ND ROW -> PRICE AND BUTTON WITH Q -->
      <div class="flex justify-between gap-4">

        <!-- PRICE -->
        <p-button
          [outlined]="true"
          [raised]="true"
          label="{{ item().price.toFixed(2) }}€"
          size="small"
          type="button"/>

        @if (viewOnly()) {
          <!-- X QUANTITY -->
          <div class="flex gap-4 items-center justify-center">
            <i class="pi pi-times"></i>
            <button
              type="button"
              pButton
              size="small">
              {{ item().quantity }}
            </button>
          </div>
        } @else {
          <!-- BUTTONS -->
          <div class="flex gap-2 items-center justify-center">
            <p-button
              type="button"
              size="small"
              icon="pi pi-plus"
              [raised]="true"
              (click)="increaseItemQuantity()"/>

            <span>{{ item().quantity }}</span>

            <p-button
              type="button"
              size="small"
              icon="pi pi-minus"
              [raised]="true"
              (click)="decreaseItemQuantity()"/>
          </div>
        }
      </div>

      @if (this.item().description['en'].length > 0) {
        <div class="flex flex-col gap-2" (click)="toggleIngredients()">
          <div class="flex items-center gap-1">
            <i style="color: var(--p-primary-color)" [ngClass]="[viewIngredients() ? 'pi pi-angle-down' : 'pi pi-angle-right']"></i>
            <span class="cursor-pointer">{{ "component.custom.pizza.ingredients" | translate }}
            </span>
          </div>
        </div>
      }
    </div>
  </div>

  @if (viewIngredients()) {
    <div class="flex flex-wrap justify-center align-middle text-center pb-2 ingredients-container">
      @if (currentLang() === 'es') {
        {{ this.item().description['es'].join(", ") }}
      } @else {
        {{ this.item().description['en'].join(", ") }}
      }
    </div>
  }
</div>
