<div class="flex flex-column gap-4">
  @if (addressList.status() === "success") {
    @if (addressList.data()!.payload === null) {
      <div class="flex flex-column gap-4">
        <span>{{ "component.user.profile.view.address.list.empty" | translate }}</span>
      </div>
    } @else {
      @for (address of addressList.data()!.payload; track address.id) {
        <app-user-address-item [address]="address"/>
      }
    }
  } @else if (addressList.status() === "error") {
    <app-server-error/>
  }

  <div class="flex align-items-center justify-content-end">
    <p-button type="button" size="small" icon="pi pi-plus" iconPos="right" [raised]="true"
              (click)="toggleAddressForm()"/>
  </div>

  @if (showAddressForm()) {
    <app-user-address-form (hideForm)="hideFormOnCancel()"/>
  }
</div>
