<p-card>
  <div class="flex flex-column gap-3">
    <span>{{ "component.user.form.delete.account" | translate }}</span>

    <form class="flex gap-3" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-column gap-2 h-4rem">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-key"/>
          <input
            class="w-full"
            pInputText
            id="fullName"
            type="text"
            placeholder="{{ 'form.label.password' | translate}} "
            formControlName="password">
        </p-iconField>
        @if (!this.form.controls.password.untouched && !this.form.controls.password.valid) {
          <small id="fullName-help" class="invalid-text">
            {{ "form.invalid.password" | translate }}
          </small>
        }
      </div>

      <p-button
        type="submit"
        severity="danger"
        label="{{ 'button.delete' | translate | uppercase }}"/>
    </form>
  </div>
</p-card>
