@if (isAuthenticated()) {
  <div class="form w-full">
    <p-card>
      <div class="flex flex-column gap-3">
        <span>{{ "form.label.name" | translate }}: {{ userName }}</span>
        <span>{{ "form.label.email" | translate }}: {{ userEmail }}</span>
      </div>
    </p-card>

    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase  }}"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        [disabled]="checkoutFormService.step() === 4"
        label="{{ 'button.continue' | translate | uppercase  }}"/>
    </div>
  </div>
} @else {
  <form class="form w-full" [formGroup]="form" (ngSubmit)="nextStep()">
    <div class="flex flex-column gap-4">

      <span>{{ "component.form.step.one.advice" | translate }}</span>

      <div class="flex flex-column gap-3">

        <div class="flex flex-column gap-2 h-4rem">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-user"/>
            <input
              class="w-full"
              pInputText
              id="fullName"
              type="text"
              placeholder="{{ 'form.label.name' | translate }}"
              formControlName="fullName">
          </p-iconField>
          @if (!this.form.controls.fullName.untouched && !this.form.controls.fullName.valid) {
            <small id="fullName-help" class="invalid-text">
              {{ "form.invalid.name" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-column gap-2 h-4rem">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope"/>
            <input
              class="w-full"
              pInputText
              id="email"
              type="email"
              placeholder="{{ 'form.label.email' | translate }}"
              formControlName="email">
          </p-iconField>
          @if (!this.form.controls.email.untouched && !this.form.controls.email.valid) {
            <small id="email-help" class="invalid-text">
              {{ "form.invalid.email" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-column gap-2 h-4rem">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-phone"/>
            <input class="w-full"
                   pInputText
                   id="contactNumber"
                   type="tel"
                   placeholder="{{ 'form.label.contact.number' | translate }}"
                   formControlName="contactNumber">
          </p-iconField>
          @if (!this.form.controls.contactNumber.untouched && !this.form.controls.contactNumber.valid) {
            <small id="contactNumber-help" class="invalid-text">
              {{ "form.invalid.contact.number" | translate }}
            </small>
          }
        </div>
      </div>
    </div>
    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase }}"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        [disabled]="checkoutFormService.step() === 4"
        label="{{ 'button.step.next' | translate | uppercase }}"/>
    </div>
  </form>
}
