<div class="flex flex-col gap-2">

  <div pInputText [dt]="myInput(true)" class="flex justify-between">
    <div class="flex gap-2" (click)="toggle()">
      <i [ngClass]="['flex items-center color', open() ? 'pi pi-angle-down' : 'pi pi-angle-right']"></i>
      <span class="cursor-pointer">{{ "component.products.filters.drawer.header" | translate }}</span>
    </div>

    <i [ngClass]="['flex items-center color', isEmpty() ? 'pi pi-filter' : 'pi pi-filter-fill' ]"
       (click)="this.filterService.clear()"></i>
  </div>

  @if (open()) {
    <app-filter-list [header]="'component.products.filters.meat'" [items]="meatItems"/>
    <app-filter-list [header]="'component.products.filters.cheese'" [items]="cheeseItems"/>
    <app-filter-list [header]="'component.products.filters.vegetables'" [items]="vegetablesItems"/>
    <app-filter-list [header]="'component.products.filters.sauce'" [items]="sauceItems"/>
    <app-filter-list [header]="'component.products.filters.others'" [items]="othersItems"/>
  }
</div>
