<div class="flex flex-col gap-2">

  <div class="flex justify-between filter-box">
    <div class="flex gap-2" (click)="toggle()">
      <i [ngClass]="['flex items-center color', open() ? 'pi pi-angle-down' : 'pi pi-angle-right']"></i>
      <span class="cursor-pointer">{{ "component.products.filters.drawer.header" | translate }}</span>
    </div>

    <i [ngClass]="['flex items-center color', isEmpty() ? 'pi pi-filter' : 'pi pi-filter-fill' ]"
       (click)="this.filterService.clear()"></i>
  </div>

  @if (open()) {
    <div class="flex flex-col gap-2" @filtersAnimation>
      @for (item of items(); track item.header) {
        <app-filter-list [header]="item.header" [items]="item.items" [inverseCardBg]="true"/>
      }
    </div>
  }

</div>
<p-drawer [(visible)]="drawerFiltersVisible" position="left">
  <ng-template pTemplate="header">
    <span class="font-bold font text-2xl ml-1">{{ "component.products.filters.drawer.header" | translate }}</span>
  </ng-template>
  <div class="flex flex-col gap-2">
    @for (item of items(); track item.header) {
      <app-filter-list [header]="item.header" [items]="item.items" [inverseCardBg]="false"/>
    }
  </div>
</p-drawer>
