<div
  [ngClass]="[
  'card flex flex-column gap-3 border-2 border-transparent border-round-xl',
  selected() === store().id ? 'border-primary transition-all transition-duration-300' : '',
  valid() ? '' : 'border-red-300 border-round-xl transition-all transition-duration-300'
  ]"
  (click)="selectStore()">
  <span class="text-xl">{{ store().name }}</span>
  <div class="store">
    <div class="flex gap-2">
      <i class="pi pi-map"></i>
      {{ store().address.street }} {{ store().address.number }}
    </div>
    <div class="flex gap-2">
      <i class="pi pi-phone"></i>
      {{ store().phoneNumber }}
    </div>
    <div class="flex gap-2">
      <i class="pi pi-calendar-clock"></i>
      <span>{{ store().schedule }}</span>
    </div>
  </div>
</div>
