@if (!checkStep()) {
  <div class="flex flex-col justify-between items-center gap-8 h-full w-full">
    <span class="text-center">{{ "component.form.step.five.warning" | translate }}</span>
    <p-button
      title="Start"
      type="button"
      (onClick)="firstStep()"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <div class="flex flex-col justify-between gap-4 h-full w-full">
    <div class="flex flex-col gap-4 h-full w-full">

      <p-card title="Customer Details">
        <div class="flex flex-col gap-2">
          <span class="text-2xl text-primary">{{ "view.customer.header" | translate }}</span>
          @if (isAuthenticated()) {
            <app-user-details/>
          } @else {
            <app-user-details [anon]="who()!"/>
          }
        </div>
      </p-card>

      <p-card title="Delivery Details">
        <div class="flex flex-col gap-2">
          <span class="text-2xl text-primary">{{ "view.delivery.header" | translate }}</span>

          @if (selectedStore() !== null) {
            <div class="flex flex-col gap-2">

              <span>{{ "view.delivery.pickup.time.selected" | translate }}:
                <span class="text-primary uppercase">{{ when()!.deliveryTime | translate }}</span>
              </span>

              <div class="flex flex-col gap-4">
                <span>{{ "view.delivery.pickup.store.selected" | translate }}:</span>
                <app-store-checkout [invalid]="true" [store]="store()!" [highlight]="true"/>
              </div>

            </div>
          } @else {

            <span>{{ "view.delivery.time.selected" | translate }}:
                <span class="text-primary uppercase">{{ when()!.deliveryTime | translate }}</span>
              </span>

            <span>{{ "form.label.delivery.address" | translate }}:
                <span class="text-primary uppercase">{{ where()!.street }}</span>
            </span>

            <span>{{ "form.label.delivery.number" | translate }}:
                <span class="text-primary">{{ where()!.number }}</span>
            </span>

            @if (where()!.details !== null) {
              <span>{{ "form.label.delivery.details" | translate }}:
                <span class="text-primary uppercase">{{ where()!.details }}</span>
              </span>
            }
          }
        </div>
      </p-card>

      <p-card title="Order Details">
        <div class="flex flex-col gap-2">
          <span class="text-2xl text-primary">{{ "view.orderdetails.header" | translate }}</span>

          <span>{{ "view.payment.method" | translate }}:
              <span class="text-primary uppercase">{{ how()!.paymentMethod | translate }}</span>
            </span>

          @if (how()?.billToChange) {
            <span>{{ "view.payment.bill.to.change" | translate }}:
              <span class="text-primary">
                {{ how()?.billToChange }}€
              </span>
            </span>
          }

          <form [formGroup]="form">
            <div class="flex flex-col gap-4">

              <label for="comment">{{ "component.form.step.five.comment.advice" | translate }}</label>
              <textarea
                title="Comment"
                id="comment"
                formControlName="comment"
                pTextarea>
              </textarea>

              @if (!form.controls.comment.untouched && !form.controls.comment.valid) {
                <span
                  title="Invalid Comment"
                  id="comment-help"
                  class="invalid-text">{{ "form.invalid.comment" | translate }}
                </span>
              }
            </div>
          </form>

        </div>
      </p-card>
    </div>

    <div class="buttons">
      <p-button
        title="Previous"
        type="button"
        (onClick)="previousStep()"
        label="{{ 'button.step.previous' | translate | uppercase }}"/>
      <p-button
        title="Cancel"
        type="button"
        severity="danger"
        (onClick)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase }}"/>
      <p-button
        title="Order"
        type="button"
        [severity]="'success'"
        (onClick)="onSubmit()"
        [disabled]="isCartEmpty()"
        label="{{ 'button.order.confirm' | translate | uppercase }}"/>
    </div>
  </div>
}
