@if (!checkStep()) {
  <div class="flex flex-col justify-between items-center gap-8 h-full w-full">
    <span class="text-center">{{ "component.form.step.four.warning" | translate }}</span>
    <p-button
      type="button"
      (onClick)="firstStep()"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <form class="flex flex-col justify-between gap-20 h-full w-full" [formGroup]="form" (ngSubmit)="nextStep()">

    <div class="flex flex-col gap-8">

      <div class="flex flex-col gap-4">

        <label for="paymentMethod">{{ "component.form.step.four.advice" | translate }}</label>
        <p-iconfield [dt]="myIcon('{primary.400}')">
          <select
            class="w-full"
            id="paymentMethod"
            formControlName="paymentMethod"
            (change)="togglePaymentOption($event.target!)"
            pInputText
            [dt]="myInput(true)"
          >
            @for (option of paymentOptions(); track option.code) {
              <option [value]="option.code">{{ option.description | translate }}</option>
            }
          </select>
          <p-inputicon styleClass="pi pi-angle-down"/>
        </p-iconfield>

        @if (cashPayment()) {

          <label for="changeRequestChoice">{{ "component.form.step.four.bill.change.question" | translate }}</label>
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <select
              [ngModel]="selectedChangeOption().code"
              [ngModelOptions]="{standalone: true}"
              class="w-full"
              id="changeRequestChoice"
              (change)="toggleChangeRequest($event.target!)"
              pInputText
              [dt]="myInput(true)"
            >
              @for (option of changeOptions(); track option.code) {
                <option [value]="option.code">{{ option.description | translate }}</option>
              }
            </select>
            <p-inputicon styleClass="pi pi-angle-down"/>
          </p-iconfield>
        }

        @if (changeRequested()) {
          <label for="billToChange">{{ "component.form.step.four.bill.change.advice" | translate }}</label>
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              class="w-full invalid-border"
              placeholder="10"
              id="billToChange"
              type="tel"
              formControlName="billToChange"
              pInputText
              [dt]="myInput(true)"
            >
            <p-inputicon styleClass="pi pi-euro"/>
          </p-iconfield>
          @if (!form.controls.billToChange.untouched && !form.controls.billToChange.valid) {
            <span id="fullName-help" class="invalid-text">
              {{ "form.invalid.bill.change" | translate }}
            </span>
          }
        }
      </div>

    </div>
    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        type="button"
        (onClick)="previousStep()"
        label="{{ 'button.step.previous' | translate | uppercase }}"/>
      <p-button
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase }}"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        label="{{ 'button.step.next' | translate | uppercase }}"/>
    </div>
  </form>
}
