<div
  [ngClass]="[
  'card flex flex-col gap-4 border-2 border-transparent rounded-xl',
  selected() === store().id ? '!border-primary transition-all duration-300' : '',
  valid() ? '' : '!border-red-800 rounded-xl transition-all duration-300'
  ]"
  (click)="selectStore()">
  <span [ngClass]="['text-xl', highlight() ? 'text-primary' : '']">{{ store().name }}</span>
  <div [ngClass]="['store', orientation() === 'horizontal' ? '' : 'flex-column gap-3']">
    <div class="flex gap-2">
      <i class="pi pi-map"></i>
      {{ store().address.street }} {{ store().address.number }}
    </div>
    <div class="flex gap-2">
      <i class="pi pi-phone"></i>
      {{ store().phoneNumber }}
    </div>
    <div class="flex gap-2">
      <i class="pi pi-calendar-clock"></i>
      <span>{{ currentLang() === 'en' ? store().schedule.en : store().schedule.es }}</span>
    </div>
  </div>
</div>
