.cart {
  width: 40rem;
  max-height: 50rem;
}

@media (max-width: 578px) {
  .cart {
    display: none;
  }

  :host ::ng-deep .p-button {
    width: 100%;
  }
}

.green {
  color: var(--p-green-400);
}

.red {
  color: var(--p-red-400);
}

.yellow {
  color: var(--p-yellow-400);
}
