<div class="flex flex-col gap-2">
  <span
    class="flex gap-1">{{ "form.label.name" | translate }}:
    <span
      class="text-primary uppercase">{{ authState() ? name() : anon()?.anonCustomerName }}
  </span>
  </span>
  <span
    class="flex gap-1">{{ "form.label.email" | translate }}:
    <span
      class="text-primary uppercase"> {{ authState() ? email() : anon()?.anonCustomerEmail }}
    </span>
  </span>
  <span
    class="flex gap-1">{{ "form.label.contact.number" | translate }}:
    <span
      class="text-primary uppercase"> {{ authState() ? phone() : anon()?.anonCustomerContactNumber }}
    </span>
  </span>
</div>
