@if (orderSummaryListQueryResult.status() === "pending") {
  <div>Loading...</div>
} @else if (orderSummaryListQueryResult.status() === 'error') {
  <div>
    Error: {{ orderSummaryListQueryResult.error()?.message }}
  </div>
} @else {
  @for (orderSummary of orderSummaryList.orderList; track orderSummary.id) {
    <app-order-summary [orderSummary]="orderSummary"/>
  }
  <p>Total pages: {{ orderSummaryList.totalPages }}</p>
  <p>Page Size: {{ orderSummaryList.pageSize }}</p>
  <p>Page Elements: {{ orderSummaryList.totalElements }}</p>


  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="currentElements"
    [rows]="5"
    [totalRecords]="this.orderSummaryList.totalElements"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"/>
}
