<div class="flex flex-column gap-5 align-items-center h-full">

  @if (orderList.status() === "success") {
    <div class="list flex flex-column gap-4 w-full">
      @if (orderList.data()!.payload.totalElements !== 0) {
        @for (orderSummary of orderList.data()!.payload.orderList; track orderSummary.id) {
          <app-order-summary [orderSummary]="orderSummary"/>
        }
      } @else {
        <span class="text-center">Place your first order and it will appear here!</span>
      }
    </div>
  } @else if (orderList.status() === 'error') {
    <div>Error: {{ orderList.error()?.message }}</div>
  }

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="currentElements"
    [rows]="4"
    [totalRecords]="orderList.status() === 'success' ? orderList.data()!.payload.totalElements : 0"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"/>
</div>
