<div class="form flex flex-column gap-5 align-items-center">

  <div class="steps">
    <p-card>
      <p-steps [activeIndex]="checkoutFormService.step()" [model]="items"/>
    </p-card>
  </div>

  <div class="small-steps">
    <p-card>
      <app-small-screen-steps [activeIndex]="checkoutFormService.step()" [items]="items"/>
    </p-card>
  </div>

  <form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- STEP ONE -->
    @if (checkoutFormService.step() === 0) {
      <div formGroupName="who" class="flex flex-column gap-5">
        <div class="flex flex-column gap-2">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-user"/>
            <input
              class="w-full invalid-border"
              pInputText
              id="fullName"
              type="text"
              placeholder="Name"
              formControlName="fullName">
          </p-iconField>
          @if (!this.form.controls.who.controls.fullName.untouched && !this.form.controls.who.controls.fullName.valid) {
            <small id="fullName-help" class="invalid-text">
              Customer name is required.
            </small>
          }
        </div>

        <div class="flex flex-column gap-2">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope"/>
            <input class="w-full invalid-border" pInputText id="email" type="email" placeholder="Email"
                   formControlName="email">
          </p-iconField>
          @if (!this.form.controls.who.controls.email.untouched && !this.form.controls.who.controls.email.valid) {
            <small id="email-help" class="invalid-text">
              Email is required.
            </small>
          }
        </div>

        <div class="flex flex-column gap-2">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-phone"/>
            <input class="w-full invalid-border" pInputText id="contactNumber" type="number"
                   placeholder="Contact Number"
                   formControlName="contactNumber">
          </p-iconField>
          @if (!this.form.controls.who.controls.contactNumber.untouched && !this.form.controls.who.controls.contactNumber.valid) {
            <small id="contactNumber-help" class="invalid-text">
              Contact number is required.
            </small>
          }
        </div>
      </div>
    }

    <!-- STEP TWO -->
    @if (checkoutFormService.step() === 1) {
      <!-- ADDRESS SELECT -->
      <div formGroupName="where" class="flex flex-column">
        <label for="deliveryOption">¿Viene a recoger o se lo mandamos a domicilio?*</label>
        <select id="deliveryOption">
          <option (click)="checkoutFormService.homeDelivery.set(true)">A domicilio</option>
          <option (click)="checkoutFormService.homeDelivery.set(true)">Recoger</option>
        </select>

        @if (checkoutFormService.homeDelivery()) {
          <div formGroupName="address" class="flex flex-column">
            <label for="street">Dirección*</label>
            <input id="street" type="text" formControlName="street">

            <label for="streetNumber">Número*</label>
            <input id="streetNumber" type="number" formControlName="number">

            <p>Interior</p>

            <label for="gate">Portal</label>
            <input id="gate" type="text" formControlName="gate">

            <label for="staircase">Escalera</label>
            <input id="staircase" type="text" formControlName="staircase">

            <label for="floor">Piso</label>
            <input id="floor" type="text" formControlName="floor">

            <label for="door">Puerta</label>
            <input id="door" type="text" formControlName="door">
          </div>
        } @else {
          <!-- STORE SELECT -->
          <p>Select Store</p>
        }
      </div>
    }

    <!-- STEP THREE -->
    @if (checkoutFormService.step() === 2) {
      <div formGroupName="when" class="flex flex-column">
        <label for="deliveryChoice">Hora de entrega*</label>
        <select id="deliveryChoice" formControlName="deliveryTime"
                (change)="checkoutFormService.toggleProgrammedDeliveryTime($event.target)">
          <option value="Lo antes posible">Lo antes posible</option>
          <option value="Hora programada">Hora programada</option>
        </select>

        @if (checkoutFormService.programmedDelivery()) {
          <label for="deliveryTime">Selecciona la hora de entrega*</label>
          <select id="deliveryTime" formControlName="deliveryTime">
            <option value="15:00">15:00</option>
            <option value="13:00">13:00</option>
          </select>
        }
      </div>
    }

    <!-- STEP FOUR -->
    @if (checkoutFormService.step() === 3) {
      <div formGroupName="how" class="flex flex-column">
        <label for="paymentMethod">Método de pago*</label>
        <select id="paymentMethod" formControlName="paymentMethod"
                (change)="checkoutFormService.toggleRequestChangeOption(form.controls.how.controls.changeRequestChoice, $event.target)">
          <option value="Tarjeta">Tarjeta</option>
          <option value="Efectivo">Efectivo</option>
        </select>

        <label for="changeRequestChoice">¿Necesita cambio?*</label>
        <select id="changeRequestChoice" formControlName="changeRequestChoice"
                (change)="checkoutFormService.toggleChangeRequestInput($event.target)">
          <option value="V">Sí</option>
          <option value="F">No</option>
        </select>

        @if (checkoutFormService.changeRequested()) {
          <label for="billToChange">Cambio de*</label>
          <input id="billToChange" type="number" formControlName="billToChange">
        }

        <label for="comment">Observaciones</label>
        <textarea id="comment" formControlName="comment"></textarea>
      </div>
    }

    <!-- STEP FIVE -->
    @if (checkoutFormService.step() === 4) {

    }

    <!-- SUBMIT -->

  </form>

  <!-- STEP NAVIGATION BUTTONS -->
  <div class="buttons">
    <p-button
      severity="danger"
      type="button"
      label="CANCELAR"/>
    <p-button
      type="button"
      (onClick)="checkoutFormService.previousStep()"
      [disabled]="checkoutFormService.step() === 0"
      label="VOLVER"/>
    <p-button
      type="button"
      (onClick)="nextStep()"
      [disabled]="checkoutFormService.step() === 4"
      label="CONTINUAR"/>
  </div>
</div>
