<div class="flex gap-5">
  <div class="flex flex-column gap-5">
    <div class="steps">
      <p-card>
        <p-steps [activeIndex]="checkoutFormService.step()" [model]="items"/>
      </p-card>
    </div>

    <div class="small-steps">
      <p-card>
        <app-small-screen-steps [activeIndex]="checkoutFormService.step()" [items]="items"/>
      </p-card>
    </div>

    <div class="form-container flex flex-column gap-6 align-items-center">
      <form class="form w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- STEP ONE -->
        @if (checkoutFormService.step() === 0) {
          <div formGroupName="who" class="flex flex-column gap-3">

            <span>Please fill in the fields</span>

            <div class="flex flex-column gap-5">
              <div class="flex flex-column gap-2">
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-user"/>
                  <input
                    class="w-full invalid-border"
                    pInputText
                    id="fullName"
                    type="text"
                    placeholder="Name"
                    formControlName="fullName">
                </p-iconField>
                @if (!this.form.controls.who.controls.fullName.untouched && !this.form.controls.who.controls.fullName.valid) {
                  <small id="fullName-help" class="invalid-text">
                    Customer name is required.
                  </small>
                }
              </div>

              <div class="flex flex-column gap-2">
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-envelope"/>
                  <input
                    class="w-full invalid-border"
                    pInputText
                    id="email"
                    type="email"
                    placeholder="Email"
                    formControlName="email">
                </p-iconField>
                @if (!this.form.controls.who.controls.email.untouched && !this.form.controls.who.controls.email.valid) {
                  <small id="email-help" class="invalid-text">
                    Email is required.
                  </small>
                }
              </div>

              <div class="flex flex-column gap-2">
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-phone"/>
                  <input class="w-full invalid-border"
                         pInputText
                         id="contactNumber"
                         type="text"
                         placeholder="Contact Number"
                         formControlName="contactNumber">
                </p-iconField>
                @if (!this.form.controls.who.controls.contactNumber.untouched && !this.form.controls.who.controls.contactNumber.valid) {
                  <small id="contactNumber-help" class="invalid-text">
                    Contact number is required.
                  </small>
                }
              </div>
            </div>
          </div>
        }

        <!-- STEP TWO -->
        @if (checkoutFormService.step() === 1) {
          <!-- ADDRESS SELECT -->
          <div formGroupName="where" class="flex flex-column gap-4">

            <div class="flex flex-column gap-3">
              <label for="deliveryOption">Seleccione la opción de entrega</label>
              <p-iconField iconPosition="right">
                <p-inputIcon styleClass="pi pi-angle-down"/>
                <select
                  pInputText
                  class="w-full"
                  id="deliveryOption">
                  <option (click)="checkoutFormService.homeDelivery.set(true)">A domicilio</option>
                  <option (click)="checkoutFormService.homeDelivery.set(true)">Recoger</option>
                </select>
              </p-iconField>
            </div>

            @if (checkoutFormService.homeDelivery()) {
              <div class="flex flex-column gap-3">
                <div class="flex flex-column gap-3">

                  <div class="flex flex-column gap-2">
                    <label for="street">Dirección*</label>
                    <p-iconField iconPosition="left">
                      <p-inputIcon styleClass="pi pi-home"/>
                      <input
                        class="w-full invalid-border"
                        pInputText
                        id="street"
                        type="text"
                        placeholder="Baker Street"
                        formControlName="street">
                    </p-iconField>
                    @if (!this.form.controls.where.controls.street.untouched && !this.form.controls.where.controls.street.valid) {
                      <small id="street-help" class="invalid-text">
                        Street is required.
                      </small>
                    }
                  </div>

                  <div class="flex flex-column gap-2">
                    <label for="streetNumber">Número*</label>
                    <p-iconField iconPosition="left">
                      <p-inputIcon styleClass="pi pi-key"/>
                      <input
                        class="w-full invalid-border"
                        pInputText
                        id="streetNumber"
                        type="text"
                        placeholder="221"
                        formControlName="number">
                    </p-iconField>
                    @if (!this.form.controls.where.controls.number.untouched && !this.form.controls.where.controls.number.valid) {
                      <small id="number-help" class="invalid-text">
                        Street number is required.
                      </small>
                    }
                  </div>
                </div>

                <div class="flex flex-column gap-2">
                  <span>Detalles</span>
                  <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-map-marker"/>
                    <input
                      class="w-full invalid-border"
                      pInputText
                      id="details"
                      type="text"
                      placeholder="Piso 3, Puerta 2a, Escalera C, etc."
                      formControlName="details">
                  </p-iconField>
                  @if (!this.form.controls.where.controls.details.untouched && !this.form.controls.where.controls.details.valid) {
                    <small id="details-help" class="invalid-text">
                      Please check details input.
                    </small>
                  }
                </div>
              </div>
            } @else {
              <!-- STORE SELECT -->
              <p>Select Store</p>
            }
          </div>
        }

        <!-- STEP THREE -->
        @if (checkoutFormService.step() === 2) {
          <div formGroupName="when" class="flex flex-column">
            <label for="deliveryChoice">Hora de entrega*</label>
            <select id="deliveryChoice" formControlName="deliveryTime"
                    (change)="checkoutFormService.toggleProgrammedDeliveryTime($event.target)">
              <option value="Lo antes posible">Lo antes posible</option>
              <option value="Hora programada">Hora programada</option>
            </select>

            @if (checkoutFormService.programmedDelivery()) {
              <label for="deliveryTime">Selecciona la hora de entrega*</label>
              <select id="deliveryTime" formControlName="deliveryTime">
                <option value="15:00">15:00</option>
                <option value="13:00">13:00</option>
              </select>
            }
          </div>
        }

        <!-- STEP FOUR -->
        @if (checkoutFormService.step() === 3) {
          <div formGroupName="how" class="flex flex-column">
            <label for="paymentMethod">Método de pago*</label>
            <select id="paymentMethod" formControlName="paymentMethod"
                    (change)="checkoutFormService.toggleRequestChangeOption(form.controls.how.controls.changeRequestChoice, $event.target)">
              <option value="Tarjeta">Tarjeta</option>
              <option value="Efectivo">Efectivo</option>
            </select>

            <label for="changeRequestChoice">¿Necesita cambio?*</label>
            <select id="changeRequestChoice" formControlName="changeRequestChoice"
                    (change)="checkoutFormService.toggleChangeRequestInput($event.target)">
              <option value="V">Sí</option>
              <option value="F">No</option>
            </select>

            @if (checkoutFormService.changeRequested()) {
              <label for="billToChange">Cambio de*</label>
              <input id="billToChange" type="number" formControlName="billToChange">
            }

            <label for="comment">Observaciones</label>
            <textarea id="comment" formControlName="comment"></textarea>
          </div>
        }

        <!-- STEP FIVE -->
        @if (checkoutFormService.step() === 4) {

        }

        <!-- SUBMIT - STEP 5 ONLY -->

      </form>
    </div>
    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        severity="danger"
        type="button"
        label="CANCELAR"/>
      <p-button
        type="button"
        (onClick)="checkoutFormService.previousStep()"
        [disabled]="checkoutFormService.step() === 0"
        label="VOLVER"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        [disabled]="checkoutFormService.step() === 4"
        label="CONTINUAR"/>
    </div>

  </div>
  <div class="sm-cart">
    <app-cart-checkout/>
  </div>
</div>
