.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 95vw;
}

.bar {
  width: 65vw;
}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
