<div class="flex flex-col gap-4">

  <!-- TOTAL -->
  <div class="flex items-center gap-2">
    <span>Total</span>
    <p-button
      [severity]="(threeForTwoOffers() != 0 || secondForHalfPriceOffer() != 0) ? 'danger' : 'success'"
      [text]="true"
      label="{{ total().toFixed(2) }}€"
      type="button"/>
  </div>

  <!-- OFFERS -->
  <div class="flex flex-col gap-4">
    @if (threeForTwoOffers() != 0 || secondForHalfPriceOffer() != 0) {

      <!-- TOTAL WITH OFFERS -->
      <div class="flex items-center gap-2">
        <span>{{ "component.cart.total.offers" | translate }}</span>
        <p-button
          type="button"
          size="large"
          [text]="true"
          label="{{ totalAfterOffers().toFixed(2) }}€"
          severity="success"/>
      </div>

      <!-- APPLIED OFFERS -->
      <div class="flex gap-2">
        <span>{{ "component.cart.total.offers.applied" | translate }}</span>

        <div class="flex gap-4">
          @if (secondForHalfPriceOffer() != 0) {
            <p-button
              type="button"
              [text]="true">
              2<sup>{{ "component.cart.total.offers.second.part.one" | translate }}</sup> <span class="ml-1">{{ "component.cart.total.offers.second.part.two" | translate }}</span>
            </p-button>
          }

          @if (threeForTwoOffers() != 0) {
            <p-button
              type="button"
              [text]="true"
              label="3 X 2"
              badge=" {{ threeForTwoOffers() }}"
              badgeSeverity="primary"/>
          }
        </div>
      </div>
    }
  </div>
</div>
