<div class="flex flex-col">
  <button (click)="adminLogout()">Clear admin privileges</button>
  <p>Last 7 days</p>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Revenue</span>
        <span>10.386,45€</span>
        <span>17.3% up</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Operating costs</span>
        <span>2566€</span>
        <span>0.43% up</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Losses</span>
        <span>708€</span>
        <span>1.3% down</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders confirmed</span>
        <span>558</span>
        <span>12.3% up</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders canceled</span>
        <span>6</span>
        <span>2.7% down</span>
      </div>
    </p-card>

  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with pizzas</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with pizzas and beverages</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with alcoholic beverages</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with non-alcoholic beverages</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with no offers applied</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with second at half price offer</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with 3 for 2 offer</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders by anonymous customers</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders by registered customers</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Store pick-up orders</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Home delivery orders</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Alustre as store-pick</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Viciosa as store-pick</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders paid with cash</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders paid with card</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>

  <div class="flex">
    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with programmed delivery</span>
        <span>108</span>
        <span>% of total confirmed</span>
      </div>
    </p-card>

    <p-card class="page">
      <div class="flex flex-col">
        <span>Orders with ASAP delivery</span>
        <span>450</span>
        <span>% of total</span>
      </div>
    </p-card>
  </div>
</div>
