<div class="flex flex-column gap-4 h-full">
  <div class="flex flex-column gap-5 overflow-y-scroll overflow-x-hidden h-full">
    @if (quantity() === 0) {
      <span>Nothing here yet</span>
    } @else {
      @for (item of items(); track item.id) {
        <app-cart-item [readOnly]="false" [item]="item"/>
      }
    }
  </div>
  <div class="flex flex-column gap-3">
    <app-cart-totals
      [total]="total()"
      [threeForTwoOffers]="threeForTwoOffers()"
      [secondForHalfPriceOffer]="secondForHalfPriceOffer()"
      [totalAfterOffers]="totalAfterOffers()"
    />

    @if (this.cartService.cartQuantity() !== 0) {
      <p-button type="button" label="EMPEZAR PEDIDO" [raised]="true" (click)="newOrderOnLick()"/>
    }

  </div>
</div>
