<div class="fixed top-0 left-0 w-screen style">
  <div class="flex items-center justify-between">
    <!-- LEFT SIDE START -->

    <!-- ICON SMALL SCREEN -->
    <img
      alt="Navigation Menu"
      aria-label="Navigation Menu"
      class="logo-sm cursor-pointer"
      height="50"
      ngSrc="/assets/icons/pizzabig.png"
      data-testid="logo-sm"
      (click)="showRoutesDrawer()"
      width="50">

    <div class="quick-links-ls">
      @switch (mode()) {
        @case (MODE.USER) {
          <!-- ICON LARGE SCREEN -->
          <img
            alt="Home Page"
            aria-label="Home Page"
            class="logo-ls cursor-pointer"
            height="60"
            ngSrc="/assets/icons/pizzabig.png"
            data-testid="logo-ls"
            routerLink="/"
            width="60">

          @for (link of userLinks; track link.path) {
            <button
              class="text-lg"
              routerLink="{{ link.path }}"
              routerLinkActive="color"
              type="button">
              {{ link.name | translate }}
            </button>
          }
        }
        @case (MODE.ADMIN) {
          <!-- ICON LARGE SCREEN -->
          <img
            alt="Home Page"
            aria-label="Home Page"
            class="logo-ls cursor-pointer"
            height="60"
            ngSrc="/assets/icons/pizzabig.png"
            routerLink="/admin"
            width="60">
        }
      }
    </div>

    <!-- LEFT SIDE END -->

    <!-- RIGHT SIDE START -->

    <!-- RIGHT SIDE ICON LIST -->
    <ul class="flex list-none m-0 p-0 gap-2 items-center">
      @switch (mode()) {
        @case (MODE.USER) {
          <app-user-nav-buttons/>
        }
        @case (MODE.ADMIN) {
          <app-admin-nav-buttons/>
        }
      }

      <li>
        <button
          (click)="toggle()"
          aria-label="Options"
          class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background"
          data-testid="options-button">
          <i class="pi pi-cog" style="font-size: 1.25rem"></i>
        </button>
        @if (visible()) {
          <div #options class="container flex flex-col gap-2 rounded-border shadow-sm origin-top mt-2 border border-primary">
            <app-locale-selector/>
            <app-theme-selector/>
          </div>
        }
      </li>
    </ul>

    <!-- RIGHT SIDE END -->
  </div>
  @if (isLoading()) {
    <p-progressBar mode="indeterminate"
                   [style]="{'height': '3px', 'width': '100vw', 'position': 'fixed', 'left': '0px', 'margin-top': '0.5rem'}"/>
  } @else {
    <p-progressBar [value]="100" [showValue]="false"
                   [style]="{'height': '3px', 'width': '100vw', 'position': 'fixed', 'left': '0px', 'margin-top': '0.5rem'}"/>
  }
</div>
