<p-card header="{{currentLang() === 'en' ? offer().name.en : offer().name.es}}" [style]="{ width: '320px' }">

  <ng-template pTemplate="header">
    <img class="rounded-border" ngSrc="{{offer().image}}" alt="Offer Image" width="320" height="255">
  </ng-template>

  <span>{{ currentLang() === 'en' ? offer().description.en : offer().description.es }}</span>

  <ng-template pTemplate="footer">

    <p-accordion value="0">
      <p-accordion-panel value="1">

        <p-accordion-header>
          {{ 'component.offer.item.conditions' | translate }}
        </p-accordion-header>

        <p-accordion-content>
          <span>{{ currentLang() === 'en' ? offer().caveat.en : offer().caveat.es }}</span>
        </p-accordion-content>

      </p-accordion-panel>
    </p-accordion>

  </ng-template>
</p-card>
