<p-card header="{{currentLang() === 'en' ? theOffer().name.en : theOffer().name.es}}" [style]="{ width: '320px' }">

  <ng-template pTemplate="header">
    <img class="rounded-border" ngSrc="{{theOffer().image}}" alt="theOffer Image" width="320" height="255" priority>
  </ng-template>

  <span>{{ currentLang() === 'en' ? theOffer().description.en : theOffer().description.es }}</span>

  <ng-template pTemplate="footer">

    <p-accordion value="0">
      <p-accordion-panel value="1">

        <p-accordion-header>
          {{ 'component.offer.item.conditions' | translate }}
        </p-accordion-header>

        <p-accordion-content>
          <span>{{ currentLang() === 'en' ? theOffer().caveat.en : theOffer().caveat.es }}</span>
        </p-accordion-content>

      </p-accordion-panel>
    </p-accordion>

  </ng-template>
</p-card>
