@if (!this.checkoutFormService.isStepFilled(2)) {
  <div class="form flex flex-column justify-content-between align-items-center">
    <span class="text-center">Unable to load step three: step one and two must be completed.</span>
    <p-button
      type="button"
      (onClick)="goBack(true)"
      [disabled]="checkoutFormService.step() === 0"
      label="VOLVER"/>
  </div>
} @else {
  <form class="form w-full" [formGroup]="form" (ngSubmit)="nextStep()">
    <div class="flex flex-column gap-5">

      <div class="flex flex-column gap-4">
        <label for="deliveryChoice">Seleccione la hora de entrega</label>
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-angle-down"/>
          <select
            [ngModel]="selectedOption.code"
            [ngModelOptions]="{standalone: true}"
            name="deliveryChoice"
            (change)="selectDeliveryChoice($event)"
            pInputText
            class="w-full"
            id="deliveryChoice">
            <option *ngFor="let option of options" [value]="option.code">{{ option.description }}</option>
          </select>
        </p-iconField>
        @if (programmedDelivery()) {
          <label for="deliveryTime">Selecciona la hora de entrega</label>
          <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-angle-down"/>
            <select
              class="w-full"
              pInputText
              id="deliveryTime"
              formControlName="deliveryTime">
              @for (deliveryHour of deliveryHours(); track deliveryHour) {
                <option value="{{deliveryHour}}">{{ deliveryHour }}</option>
              }
            </select>
          </p-iconField>
          @if (!this.form.controls.deliveryTime.untouched && !this.form.controls.deliveryTime.valid) {
            <small id="deliveryTime-help" class="invalid-text">
              Hour is required.
            </small>
          }
        }
      </div>

    </div>
    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        type="button"
        (onClick)="previousStep()"
        [disabled]="checkoutFormService.step() === 0"
        label="VOLVER"/>
      <p-button
        severity="danger"
        type="button"
        (onClick)="goBack(false)"
        label="CANCELAR"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        [disabled]="checkoutFormService.step() === 4"
        label="CONTINUAR"/>
    </div>
  </form>
}
