<div
  title="{{ store().name }} Store"
  [ngClass]="['card flex flex-col gap-4 border-2 border-transparent rounded-xl',
  selected() === store().address.id ? '!border-primary transition-all duration-300' : '',
  !invalid() ? 'invalid-border rounded-xl transition-all duration-300' : '']"
  (click)="selectStore()">

  <span title="{{ store().name }}" [ngClass]="['text-xl', highlight() ? 'text-primary' : '']">{{ store().name }}</span>

  <div [ngClass]="['store justify-between', orientation() === 'horizontal' ? '' : 'flex flex-col gap-6']">

    <div class="flex items-center gap-2">
      <i title="{{ store().name }} Map Icon" class="pi pi-map"></i>
      {{ store().address.street }} {{ store().address.number }}
    </div>

    <div class="flex items-center gap-2">
      <i title="{{ store().name }} Phone Icon" class="pi pi-phone"></i>
      {{ store().phoneNumber }}
    </div>

    <div class="flex items-center gap-2">
      <i title="{{ store().name }} Schedule Icon" class="pi pi-calendar-clock"></i>
      <span>{{ currentLang() === 'en' ? store().schedule.en : store().schedule.es }}</span>

    </div>
  </div>
</div>
