<div [ngClass]="['flex flex-col gap-4 h-full w-full', inSidebar() ? '' : 'padding card cart-background']" title="Cart">

  @if (quantity() === 0) {
    <span>{{ "component.cart.empty.text" | translate }}</span>
  } @else {
    <ul title="Cart Items" class="flex flex-col gap-4 items overflow-y-auto overflow-x-hidden">
      @for (item of items(); track item.id) {
        <li>
          <app-cart-item
            [viewOnly]="getIsViewOnly()"
            [item]="item"
          />
        </li>
      }
    </ul>
  }

  <div class="flex flex-col gap-4">
    <app-cart-totals
      [secondForHalfPriceOffer]="secondHalPriceOffer()"
      [threeForTwoOffers]="threeForTwoOffer()"
      [totalAfterOffers]="totalAfterOffers()"
      [total]="total()"
    />

    @if (quantity() !== 0 && !getIsViewOnly()) {
      <p-button
        type="button"
        title="Checkout"
        label="{{'button.start.order' | translate | uppercase }}"
        [raised]="true"
        (click)="toCheckout()"/>
    }
  </div>
</div>
