<p-card header="{{store().name}}" [style]="{ width: '320px' }">
  <ng-template pTemplate="header">
    <img class="border-round" [ngSrc]="store().image" width="50" height="200" alt="Store image">
  </ng-template>
  <div class="flex flex-column gap-4">
    <div class="flex gap-2">
      <i class="pi pi-map"></i>
      {{ store().address.street }} {{ store().address.number }}
    </div>
    <div class="flex gap-2">
      <i class="pi pi-phone"></i>
      {{ store().phoneNumber }}
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-accordion>
      <p-accordionTab header="{{ 'store.item.schedule' | translate}}">
        <span>{{ currentLang() === "en" ? store().schedule.en : store().schedule.es }}</span>
      </p-accordionTab>
    </p-accordion>
  </ng-template>
</p-card>
