<p-card>
  <div class="flex flex-column gap-3">
    <span class="text-2xl text-primary">Delivery details</span>

    <div class="flex flex-column gap-3">
      @if (selectedStore === null) {
        <span>Time of delivery selected: {{ orderDetails().deliveryTime }}</span>
      } @else {
        <span>Pick up time selected: {{ orderDetails().deliveryTime }}</span>
      }

      @if (selectedStore !== null) {
        <div class="flex flex-column gap-3">
          <span>Pick up store selected:</span>
          <app-store-checkout [orientation]="'vertical'" [valid]="true" [store]="selectedStore"/>
        </div>
      } @else {
        <span>Dirección: {{ address().street }}</span>
        <span>Número: {{ address().number }}</span>

        @if (address().details) {
          <span>Detalles: {{ address().details }}</span>
        }
      }
    </div>
  </div>
</p-card>
