<div class="form-container flex gap-4" title="Checkout">
  <div class="flex flex-col gap-4">

    <div class="steps" title="Steps">
      <p-card>
        <p-steps [activeIndex]="checkoutFormService.step" [model]="steps"/>
      </p-card>
    </div>

    <div class="small-steps" title="Step">
      <p-card>
        <app-small-screen-steps [activeIndex]="checkoutFormService.step" [items]="steps"/>
      </p-card>
    </div>

    <div class="steps-container h-full" title="Form">
      <router-outlet/>
    </div>
  </div>

  <div class="checkout-cart" title="Checkout Cart">
    <app-cart [viewOnly]="true"/>
  </div>
</div>
