<div class="container">
  @if (query.status() !== "error") {
    <div class="products-search flex flex-col gap-3">
      <app-products-search (onSearch)="this.filterService.setSearchText($event)"/>
      <app-products-filter [items]="getAllBeverageFilters()"/>
    </div>
  }

  <ul title="Beverage List"
      [ngClass]='[query.status() === "error" ? "justify-center" : "justify-start" , "products flex flex-wrap gap-y-12 gap-x-12"]'>
    @if (query.status() === "error") {
      <app-server-error/>
    }

    @for (product of query.data()?.payload | productsSearch: this.filterService.searchText:filters(); track product.id) {
      <li>
        <app-product [product]="product"/>
      </li>
    }
  </ul>
</div>
