<p-card>
  <div class="flex flex-col gap-4">
    <span class="text-2xl text-primary">{{ "view.orderdetails.header" | translate }}</span>

    <div class="flex flex-col gap-4">
      <span>{{ "view.payment.method" | translate }}:
              <span
                class="text-primary uppercase">{{ orderDetails().paymentMethod | translate }}</span></span>
      @if (orderDetails().billToChange !== null) {
        <span>{{ "view.payment.bill.to.change" | translate }}: <span
          class="text-primary">{{ orderDetails().billToChange }}
          €</span></span>
      }
    </div>

    @if (orderDetails().comment !== null) {
      <div class="flex flex-col gap-4 text">
        <span>{{ "view.comment" | translate }}: </span>
        <span class="italic text-primary">{{ orderDetails().comment }} </span>
      </div>
    }
  </div>
</p-card>
