:host ::ng-deep .p-button {
  width: 100%;
}

.card {
  background: var(--surface-card);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
