<div title="Delete Account Section" class="flex flex-col gap-2">

  <span class="ml-1">{{ "component.user.form.delete.account" | translate }}</span>

  <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="flex flex-col gap-1 w-fit">
      <p-iconfield [dt]="myIcon('{primary.400}')">
        <input
          title="Password"
          id="password"
          type="{{showPassword() ? 'text' : 'password'}}"
          placeholder="{{ 'form.label.password' | translate}} "
          formControlName="password"
          class="w-full"
          pInputText
          [dt]="myInput(false)">
        <p-inputicon title="Toggle Password Visibility" (click)="togglePassword()"
                     styleClass="{{showPassword() ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
      </p-iconfield>
      @if (!form.controls.password.untouched && !form.controls.password.valid) {
        <span title="Invalid Password" id="password-help" class="invalid-text">
          {{ "form.invalid.password.requiered" | translate }}
        </span>
      }
    </div>

    <p-button
      type="submit"
      title="Delete"
      severity="danger"
      label="{{ 'button.delete' | translate | uppercase }}"/>
  </form>
</div>
