<div class="flex flex-col gap-2" title="Delete Account Section">

  <span class="ml-1">{{ "component.user.form.delete.account" | translate }}</span>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex flex-col gap-3">

    <div class="flex flex-col gap-1 w-fit">
      <p-iconfield [dt]="myIcon('{primary.400}')">
        <input
          [dt]="myInput(false)"
          class="w-full"
          formControlName="password"
          id="password"
          pInputText
          placeholder="{{ 'form.label.password' | translate}} "
          title="Password"
          type="{{showPassword() ? 'text' : 'password'}}">
        <p-inputicon (click)="togglePassword()" styleClass="{{showPassword() ? 'pi pi-eye-slash' : 'pi pi-eye'}}"
                     title="Toggle Password Visibility"/>
      </p-iconfield>
      @if (!form.controls.password.untouched && !form.controls.password.valid) {
        <span title="Invalid Password" id="password-help" class="invalid-text">
          {{ "form.invalid.password.requiered" | translate }}
        </span>
      }
    </div>

    <p-button
      label="{{ 'button.delete' | translate | uppercase }}"
      severity="danger"
      title="Delete"
      type="submit"/>
  </form>
</div>
