<div class="flex flex-col rounded-border container-desc">
  <!-- IMAGE -->
  <img title="Custom Pizza"
       class="pb-2" ngSrc="/assets/products/pizza/pizzaProduct.png" width="210" height="190" priority
       alt="Custom Pizza Image">

  <div class="flex flex-col items-center justify-between product-container">

    <!-- NAME -->
    <span title="My Pizza" class="font-semibold text-xl">{{ "component.custom.pizza.header" | translate }}</span>

    <!-- DESCRIPTION -->
    <span title="Description" class="flex justify-center flex-wrap description text-center">
      {{ "component.custom.pizza.text" | translate }}
    </span>

    <div class="pb-2">
      <p-button
        title="Open Custom Pizza Builder"
        type="button"
        icon="pi pi-plus"
        [raised]="true"
        size="small"
        (click)="openCustomPizzaDialog()"/>
    </div>
  </div>
</div>
@if (customPizzaDialogVisible) {
  <p-dialog
    [draggable]="false"
    [resizable]="true"
    [modal]="true"
    [dismissableMask]="false"
    [style]="{ width: 'fit-content' }"
    [breakpoints]="{ '576px': '90vw' }"
    [position]="'center'"
    (onHide)="closeCustomPizzaDialog()"
    [(visible)]="customPizzaDialogVisible"
    [header]="'component.custom.pizza.text' | translate">
    <app-create-custom-pizza (onNewCustomPizza)="addCustomPizza($event)"/>
  </p-dialog>
}
