<div>
  @if (order.data(); as order) {
    <div>
      <p>Order id: {{ order.id }}</p>
      <p>Fecha creación: {{ order.createdOn }}</p>
      <app-user-details data-test-key="userDetails" [name]="userName()!" [email]="userEmail()!"
                        [contactNumber]="userContactNumber()!"/>
      <app-address-item [address]="order.address"/>
      <app-order-details [orderDetails]="order.orderDetails"/>
    </div>
  }
</div>

@if (orderToUpdateId() === null) {
  <button data-test-key="updateButton" (click)="startUpdate()" type="button">Actualizar pedido</button>
}

@if (orderToUpdateId() !== null) {
  <app-user-checkout-form/>
  <button data-test-key="cancelUpdateButton" (click)="finishUpdate()" type="button">Cancelar actualización</button>
}
