<div class="flex flex-col items-center gap-8">

  <!-- WELCOME MESSAGE  -->
  <div class="flex flex-col items-center">
    <span
      class="text-center font-bold italic text-primary font-size">{{ "component.home.welcome.part.one" | translate }}</span>
    <span class="text-center font-bold italic text-primary font-size">Pizzeria Fabulosa</span>
  </div>

  <!-- OFFERS  -->
  <div class="flex flex-col items-center gap-8">
    <span class="text-center uppercase font-bold cart-header">{{ "component.home.welcome.offers" | translate }}</span>

    @if (offers.status() === 'pending') {
      <!-- nothing (should be a skeleton) -->
    }

    @if (offers.status() !== 'pending' && offers.status() === 'error') {
      <app-server-error/>
    }

    @if (offers.status() === "success" && offers.data()!.payload !== null) {
      <div class="flex flex-wrap justify-center gap-8">
        @for (offer of offers.data()!.payload; track offer.id) {
          <app-offer-item [offer]="offer"/>
        }
      </div>
    }
  </div>

  <!-- STORES -->
  <div class="flex flex-col items-center gap-8">
    <span class="text-center uppercase font-bold cart-header">{{ "component.home.welcome.stores" | translate }}</span>

    @if (stores.status() === 'pending') {
      <!-- nothing (should be a skeleton) -->
    }

    @if (stores.status() !== 'pending' && stores.status() === 'error') {
      <app-server-error/>
    }

    @if (stores.status() === "success" && stores.data()!.payload !== null) {
      <div class="flex flex-wrap justify-center gap-8">
        @for (store of stores.data()!.payload; track store.id) {
          <app-store-item [store]="store"/>
        }
      </div>
    }
  </div>
</div>
