<li>
  <div class="flex flex-col items-center gap-8">

    <!-- WELCOME MESSAGE  -->
    <div class="flex flex-col items-center">
    <span
      class="text-center font-bold italic text-primary font-size">{{ "component.home.welcome.part.one" | translate }}</span>
      <span class="text-center font-bold italic text-primary font-size">Pizzeria Fabulosa</span>
    </div>

    <!-- OFFERS  -->
    <div class="flex flex-col items-center gap-8">
      <span class="text-center uppercase font-bold cart-header">{{ "component.home.welcome.offers" | translate }}</span>

      @if (offers.status() === 'error') {
        <app-server-error/>
      }

      <ul class="flex flex-wrap justify-center gap-8">
        @for (offer of offers.data()?.payload; track offer.id) {
          <li>
            <app-offer-item [offer]="offer"/>
          </li>
        }
      </ul>

    </div>

    <!-- STORES -->
    <div class="flex flex-col items-center gap-8">
      <span class="text-center uppercase font-bold cart-header">{{ "component.home.welcome.stores" | translate }}</span>

      @if (stores.status() === 'error') {
        <app-server-error/>
      }

      <ul class="flex flex-wrap justify-center gap-8">
        @for (store of stores.data()?.payload; track store.id) {
          <li>
            <app-store-item [store]="store"/>
          </li>
        }
      </ul>

    </div>
  </div>
</li>
