@if (isDarkMode()) {
  <button (click)="toggleDarkMode(false)"
          aria-label="Light mode"
          type="button"
          class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background">
    <i class="pi pi-sun"></i>
  </button>
} @else {
  <button (click)="toggleDarkMode(true)"
          aria-label="Dark mode"
          class="cursor-pointer flex items-center justify-center w-8 h-8 border border-solid border-surface rounded-border item-background">
    <i class="pi pi-moon"></i>
  </button>
}
