.item-background {
  background-color: var(--p-surface-nav-item-bg);
  border-color: var(--p-surface-nav-item-border);
}

.item-background:hover {
  border-color: var(--p-primary-color);
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 400ms !important;
}

:host ::ng-deep .p-badge {
  min-width: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
}

.quick-links-sm {
  display: none;
}

@media (max-width: 992px) {
  .quick-links-sm {
    display: flex;
  }
}
