<ul class="flex list-none m-0 p-0 gap-2 items-center" title="Navigation Buttons">
  <!-- CART ICON -->
  <li (click)="showCartDrawer()" pBadge value="{{ cartQuantity() }}">
    <button
      aria-label="Open Cart"
      class="flex w-10 h-10 border border-solid border-surface rounded-border item-background items-center justify-center"
      title="Cart"
      type="button">
      <i class="pi pi-shopping-cart" style="font-size: 1.25rem"></i>
    </button>
  </li>

  @if (isAuthenticated()) {
    <!-- USER BUTTON -->
    <li>
      <button
        type="button"
        title="Profile"
        [routerLink]="['user', 'profile']"
        aria-label="User Home Page"
        class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background">
        <i class="pi pi-user" style="font-size: 1.25rem; color: var(--p-primary-color)"></i>
      </button>
    </li>
    <!-- SIGN OUT BUTTON -->
    <li (click)="showLogout()">
      <button
        title="Sign Out"
        type="button"
        aria-label="Sign out"
        class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background">
        <i class="pi pi-sign-out" style="font-size: 1.25rem"></i>
      </button>
    </li>
  } @else {
    <!-- SIGN IN BUTTON -->
    <li (click)="showLogin()">
      <button
        title="Sign In"
        type="button"
        aria-label="Sign In"
        class="cursor-pointer flex items-center justify-center w-10 h-10 border border-solid border-surface rounded-border item-background">
        <i class="pi pi-sign-in" style="font-size: 1.25rem"></i>
      </button>
    </li>
  }
</ul>
