<div
  [ngClass]="['flex flex-col items-center justify-between rounded-border', product().type !== 'pizza' ? 'container' : 'container-desc' ]">

  <!-- IMAGE + NAME -->
  <div class="flex flex-col items-center">
    <!-- IMAGE -->
    <img title="{{product().name.en}} Image"
         ngSrc="{{product().image}}"
         alt="{{product().name.en}} Image"
         class="pb-2"
         width="225"
         height="150"
         priority>

    <!-- NAME -->
    <span title="Name"
          class="font-semibold text-xl text-center">{{ currentLang() === 'es' ? product().name.es : product().name.en }}</span>
  </div>

  <!-- INGREDIENTES -->
  @if (product().description !== null) {
    <div title="{{product().name.en}} Ingredients"
         [ngClass]="['flex flex-wrap items-start text-center', product().type === 'pizza' ? 'description-pizza' : 'description']">
      {{ currentLang() === 'es' ? product().description!.es.join(", ") : product().description!.en.join(", ") }}
    </div>
  }

  <p-button
    class="pb-2"
    title="{{product().name.en}} Details"
    type="button"
    icon="pi pi-plus"
    [raised]="true"
    size="small"
    aria-label="Open Product Details"
    (click)="dialogVisibility(true)"/>
</div>
<p-dialog
  title="{{product().name.en}} Window"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '576px': '90vw' }"
  (onHide)="dialogVisibility(false)"
  [(visible)]="dialogVisible"
  [header]="currentLang() === 'es' ? product().name.es : product().name.en"
>
  <div class="flex flex-col items-center gap-4">

    <!-- IMAGE -->
    <img title="{{product().name.en}} Image"
         ngSrc="{{product().image}}"
         alt="{{product().name.en}} Image"
         class="rounded-border"
         width="225"
         height="150"
         priority>

    <!-- INGREDIENTES -->
    @if (product().description !== null) {
      <div title="Ingredients"
           class="flex justify-center flex-wrap dialog-description text-center">
        {{ currentLang() === 'es' ? product().description!.es.join(", ") : product().description!.en.join(", ") }}
      </div>
    }

    <!-- ALLERGENS-->
    @if (product().allergens.es.length > 0) {
      <div class="flex flex-col items-center">
        <i title="Allergens Warning Icon" class="pi pi-exclamation-triangle allergens-icon-big"></i>
      </div>

      <span title="Header" class="text-center">{{ "component.products.allergens.text" | translate }}</span>
      <div class="flex justify-center flex-wrap gap-4 font-bold">
        @if (currentLang() === 'es') {
          @for (allergen of this.product().allergens.es; track $index) {
            <span title="{{ allergen }}">{{ allergen }}</span>
          }
        } @else {
          @for (allergen of this.product().allergens.en; track $index) {
            <span title="{{ allergen }}">{{ allergen }}</span>
          }
        }
      </div>
    }

    <!-- FORMAT -->
    @if (product().formats) {
      <div class="flex gap-2">
        @if (product().formats.s) {
          <p-button
            title="Small"
            (click)="setFormat('S')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? product().formats.s.es : product().formats.s.en  }}"
            [outlined]="this.productFormat!=='S'"
            [raised]="true"/>
        }

        @if (product().formats.m) {
          <p-button
            title="Medium"
            (click)="setFormat('M')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? product().formats.m.es : product().formats.m.en  }}"
            [outlined]="this.productFormat!=='M'"
            [raised]="true"/>
        }

        @if (product().formats.l) {
          <p-button
            title="Large"
            (click)="setFormat('L')"
            type="button"
            size="small"
            label="{{ currentLang() === 'es' ? product().formats.l.es : product().formats.l.en  }}"
            [outlined]="this.productFormat!=='L'"
            [raised]="true"/>
        }
      </div>
    }

    <!-- PRICE -->
    <app-product-price title="Price" [price]="this.productPrice"/>

    <!-- ADD -->
    <p-button
      title="Add to Cart"
      type="button"
      icon="pi pi-plus"
      [raised]="true"
      size="small"
      aria-label="Add to Cart"
      (click)="addProductToCart(product())"/>
  </div>
</p-dialog>
