<p-card>
  <div class="flex flex-column gap-5">
    <div class="flex flex-column gap-3">
      <span>Profile name: {{ userName }}</span>
      <span>Correo electrónico: {{ userEmail }}</span>
    </div>
    <p-button
      (click)="toggleAddressList()"
      label="View my address list"
      icon="{{viewAddressList() ? 'pi pi-angle-down' : 'pi pi-angle-right'}}"
      iconPos="right"
      [text]="true"
      [raised]="true"/>
    @if (viewAddressList()) {
      <app-user-address-list/>
    }
  </div>
</p-card>
