<p-card>
  <div class="flex flex-column gap-5">
    <div class="flex flex-column gap-3">
      <span>{{ "form.label.name" | translate }}: {{ userName }}</span>
      <span>{{ "form.label.email" | translate }}: {{ userEmail }}</span>
    </div>
    <p-button
      (click)="toggleAddressList()"
      label="{{ 'component.profile.view.address.list' | translate }}"
      icon="{{viewAddressList() ? 'pi pi-angle-down' : 'pi pi-angle-right'}}"
      iconPos="right"
      [text]="true"
      [raised]="true"/>
    @if (viewAddressList()) {
      <app-user-address-list/>
    }
  </div>
</p-card>
