<div class="flex flex-col items-center justify-between rounded-border container-desc">
  <!-- IMAGE + NAME -->
  <div class="flex flex-col items-center">
    <img title="Custom Pizza"
         class="pb-2"
         ngSrc="/assets/products/pizza/custom-pizza.png"
         width="225"
         height="150"
         priority
         alt="Custom Pizza Image">

    <!-- NAME -->
    <span title="My Pizza" class="font-semibold text-xl">{{ "component.custom.pizza.header" | translate }}</span>
  </div>

  <!-- DESCRIPTION -->
  <span title="Description" class="flex justify-center flex-wrap description text-center">
      {{ "component.custom.pizza.text" | translate }}
    </span>

  <p-button
    class="pb-2"
    title="Open Custom Pizza Builder"
    label="{{'button.step.start' | translate | uppercase}}"
    type="button"
    [raised]="true"
    size="small"
    (click)="openCustomPizzaDialog()"/>
</div>

@if (customPizzaDialogVisible) {
  <p-dialog
    title="Custom Pizza Creator"
    [draggable]="false"
    [resizable]="true"
    [modal]="true"
    [dismissableMask]="false"
    [style]="{ width: 'fit-content' }"
    [breakpoints]="{ '576px': '90vw' }"
    [position]="'center'"
    (onHide)="closeCustomPizzaDialog()"
    [(visible)]="customPizzaDialogVisible"
    [header]="'component.custom.pizza.text' | translate">
    <app-create-custom-pizza (onNewCustomPizza)="addCustomPizza($event)"/>
  </p-dialog>
}
