.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  //border: 1px solid red;
}

.container {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.products-search {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 210px;
}

.products {
  width: 50vw;
  min-height: 45rem;
  //border: 1px solid blue;
}

.paginator {
  width: 20vw;
}

@media (max-width: 929px) {
  .layout {
    flex-direction: column;
    align-items: center;
  }

  .products-search {
    max-width: 210px;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .paginator {
    width: 90vw;
  }

  .products {
    width: 100%;
    justify-content: center;
  }
}
