input.ng-invalid.ng-touched {
  border: 1px solid var(--p-red-700);
}

.invalid-text {
  color: var(--p-red-700);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 578px) {
  :host ::ng-deep .p-button {
    width: 100%;
  }

  .buttons {
    flex-direction: column-reverse;
    gap: 1.5rem;
    width: 100%;
  }
}

