<p-dialog
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '1199px': '45vw', '575px': '90vw' }"
  [(visible)]="visible"
  [modal]="true"
  (onHide)="hideLogoutDialog();"
  [dismissableMask]="true"
  [position]="'topright'">
  <ng-template pTemplate="headless">
    <div class="flex flex-col items-center p-4">
      <span class="font-bold text-2xl block">
                {{ 'toast.severity.info' | translate }}
      </span>
      <p class="mb-0">{{ 'dialog.logout.confirm' | translate }}</p>
      <div class="flex items-center gap-2 mt-6">
        <button
          pButton
          label="{{ 'prompt.yes' | translate | uppercase }}"
          (click)="acceptLogout()"
          class="w-32">
        </button>
        <button
          pButton
          label="{{ 'prompt.no' | translate | uppercase }}"
          (click)="hideLogoutDialog();"
          class="p-button-outlined w-32">
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>
