.color {
  color: var(--p-primary-color);
}

.filter-box {
  font-size: 1rem;
  color: var(--p-inputtext-color);
  background: var(--p-surface-card-inverse);
  appearance: none;
  border-radius: 6px;
  outline-color: transparent;
  box-shadow: var(--p-inputtext-shadow);
  padding: 0.5rem;
  border: 1px solid transparent;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
