<div class="flex flex-col items-center gap-8">

  <img src="https://i.imgur.com/iN9vWN0.png" height="200"/>
  <span class="font-bold text-3xl text-center">{{ "component.custom.pizza.text" | translate }}</span>

  <div class="flex justify-center gap-40">

    <form [formGroup]="form" class="flex flex-col gap-6">

      <span class="font-bold">{{ "component.custom.pizza.essentials" | translate }}</span>

      <div class="flex flex-col w-fit gap-3">

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.custom.pizza.format" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="formatOptions"
            formControlName="format"
            optionLabel="label"
            optionValue="value"
            [ngClass]="['flex flex-wrap gap-2',!form.controls.format.untouched && !form.controls.format.valid ? 'ng-invalid ng-dirty' : '']">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit ">
          <span>{{ "component.custom.pizza.base.sauce" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="sauceOptions"
            formControlName="sauce"
            optionLabel="label"
            optionValue="value"
            [ngClass]="['flex flex-wrap gap-2',!form.controls.sauce.untouched && !form.controls.sauce.valid ? 'ng-invalid ng-dirty' : '']">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.custom.pizza.base.cheese" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="baseCheeseOptions"
            formControlName="baseCheese"
            optionLabel="label"
            optionValue="value"
            [ngClass]="['flex flex-wrap gap-2',!form.controls.baseCheese.untouched && !form.controls.baseCheese.valid ? 'ng-invalid ng-dirty' : '']">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.products.filters.allergen" | translate }}</span>
          <div class="flex gap-2">
            <p-toggleButton
              size="small"
              formControlName="gluten"
              onLabel="{{'component.custom.pizza.base.no.gluten' | translate}}"
              offLabel="{{'component.products.filters.allergen.gluten' | translate}}"
              [ngClass]="['flex flex-wrap gap-2']"
            />
            <p-toggleButton
              size="small"
              formControlName="lactose"
              onLabel="{{'component.custom.pizza.base.no.lactose' | translate}}"
              offLabel="{{'component.products.filters.allergen.lactose' | translate}}"
              [ngClass]="['flex flex-wrap gap-2']"
            />
          </div>
        </div>
      </div>

      <span class="font-bold">{{ "component.custom.pizza.ingredients" | translate }}</span>

      <div class="flex flex-col w-fit gap-3">
        <div class="flex flex-col gap-2">
          <span>{{ "component.products.filters.meat" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="meatOptions"
            formControlName="meat"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap gap-2">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2">
          <span>{{ "component.products.filters.cheese" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="cheeseOptions"
            formControlName="cheese"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap gap-2">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.products.filters.vegetable" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="vegetableOptions"
            formControlName="vegetable"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap gap-2">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.products.filters.oil" | translate }}</span>
          <p-selectButton
            size="small"
            [options]="otherOptions"
            formControlName="others"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap gap-2">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

      </div>

    </form>
  </div>

  @if (allergens().length > 0) {
    <div>
      <span>Alérgenos</span>
    </div>
  }

  <p-button
    type="button"
    [raised]="true"
    icon="pi pi-plus"
    (onClick)="onSubmit()"
  />

  <div class="price">
    <p-button
      type="button"
      size="small"
      label="{{ price().toFixed(2) }}€"
      severity="primary"
      [raised]="true"/>
  </div>
</div>
