<div class="flex flex-col items-center gap-8">
  <div class="flex justify-center gap-40">

    <form [formGroup]="form" class="flex flex-col gap-6">

      <div class="flex flex-col w-fit gap-2">
        <span>Lo esencial</span>

        <div class="flex flex-col gap-1 w-fit">
          <span>Formato</span>
          <p-selectButton
            size="small"
            [options]="formatOptions"
            formControlName="format"
            optionLabel="label"
            optionValue="value"
            [ngClass]="['flex flex-wrap',!form.controls.format.untouched && !form.controls.format.valid ? 'ng-invalid ng-dirty' : '']">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-1 w-fit ">
          <span>Salsa base</span>
          <p-selectButton
            size="small"
            [options]="sauceOptions"
            formControlName="sauce"
            optionLabel="label"
            optionValue="value"
            [ngClass]="['flex flex-wrap',!form.controls.sauce.untouched && !form.controls.sauce.valid ? 'ng-invalid ng-dirty' : '']">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-1">
          <span>Queso base</span>
          <p-selectButton
            size="small"
            [options]="baseCheeseOptions"
            formControlName="baseCheese"
            optionLabel="label"
            optionValue="value"
            [ngClass]="['flex flex-wrap',!form.controls.baseCheese.untouched && !form.controls.baseCheese.valid ? 'ng-invalid ng-dirty' : '']">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>
      </div>

      <div>
        <span>Ingredientes</span>

        <div class="flex flex-col gap-2">
          <span>Carnes</span>
          <p-selectButton
            size="small"
            [options]="meatOptions"
            formControlName="meat"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap"
          >
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2">
          <span>Quesos</span>
          <p-selectButton
            size="small"
            [options]="cheeseOptions"
            formControlName="cheese"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>Legumbres</span>
          <p-selectButton
            size="small"
            [options]="vegetableOptions"
            formControlName="vegetable"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>Otros</span>
          <p-selectButton
            size="small"
            [options]="otherOptions"
            formControlName="others"
            optionLabel="label"
            optionValue="value"
            [multiple]="true"
            class="flex flex-wrap">
            <ng-template #item let-item>
              {{ item.label | translate }}
            </ng-template>
          </p-selectButton>
        </div>

      </div>

    </form>
  </div>

  <div>
    <span>Alérgenos</span>
  </div>

  <p-button
    type="button"
    [raised]="true"
    [label]="'Añadir'"
    (onClick)="onSubmit()"
  />
</div>
