<div class="flex flex-col gap-2">

  <div class="filter-box">
    <div class="flex justify-between">
      <div class="flex gap-2" (click)="toggle()">
        <i title="Toggle Filters"
           [ngClass]="['flex items-center color', open() ? 'pi pi-angle-down' : 'pi pi-angle-right']"></i>
        <span title="Filters" class="cursor-pointer">{{ "component.products.filters.drawer.header" | translate }}</span>
      </div>

      <i
        title="Filters Active/Inactive"
        [ngClass]="['flex items-center color', filterService.areFiltersEmpty ? 'pi pi-filter' : 'pi pi-filter-fill' ]"
        (click)="this.filterService.clear()"></i>
    </div>

    @if (!filterService.areFiltersEmpty) {
      <div class="flex flex-wrap gap-1" @pillsAnimation>
        @for (filter of filters(); track $index) {
          @let severity = filter.include ? 'success' : 'danger';
          <p-tag
            title="Filter"
            @pillsAnimation
            [style]="{fontSize: '12px', cursor: 'pointer'}"
            [rounded]="true"
            [value]="filter.name | translate"
            [severity]="severity"
            (click)="this.filterService.toggleFilter(filter.name, filter.type)"/>
        }
      </div>
    }
  </div>

  @if (open()) {
    <ul title="Filters List" class="flex flex-col gap-2" @filtersAnimation>
      @for (item of items(); track item.header) {
        <li>
          <app-filter-list [header]="item.header" [items]="item.items" [inverseCardBg]="true"/>
        </li>
      }
    </ul>
  }

</div>
@if (drawerFiltersVisible) {
  <p-drawer [(visible)]="drawerFiltersVisible" position="left">
    <ng-template pTemplate="header">
      <span class="font-bold font text-2xl ml-1">{{ "component.products.filters.drawer.header" | translate }}</span>
    </ng-template>
    <div class="flex flex-col gap-2">
      @for (item of items(); track item.header) {
        <app-filter-list [header]="item.header" [items]="item.items" [inverseCardBg]="false"/>
      }
    </div>
  </p-drawer>
}
