<form title="Address Form" class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-6">

    <div class="flex flex-col gap-2">
      <p-iconfield [dt]="myIcon('{primary.400}')">
        <p-inputicon title="Address Icon" styleClass="pi pi-directions"/>
        <input
          title="Address Input"
          class="w-full"
          id="street"
          type="text"
          placeholder="{{ 'form.label.delivery.address' | translate }}"
          formControlName="street"
          pInputText
          [dt]="myInput(false)"
        >
      </p-iconfield>
      @if (!this.form.controls.street.untouched && !this.form.controls.street.valid) {
        <span title="Invalid Address" id="street-help"
              class="invalid-text">{{ "form.invalid.delivery.address" | translate }}</span>
      }
    </div>

    <div class="flex flex-col gap-2">
      <p-iconfield [dt]="myIcon('{primary.400}')">
        <p-inputicon title="Number icon" styleClass="pi pi-home"/>
        <input
          title="Address Number Input"
          class="w-full"
          id="streetNumber"
          type="tel"
          placeholder="{{ 'form.label.delivery.number' | translate }}"
          formControlName="number"
          pInputText
          [dt]="myInput(false)"
        >
      </p-iconfield>
      @if (!this.form.controls.number.untouched && !this.form.controls.number.valid) {
        <span title="Invalid Address Number" id="number-help" class="invalid-text">
          {{ "form.invalid.delivery.number" | translate }}
        </span>
      }
    </div>

    <div class="flex flex-col gap-2">
      <p-iconfield [dt]="myIcon('{primary.400}')">
        <p-inputicon title="Details Icon" styleClass="pi pi-info-circle"/>
        <input
          title="Details Input"
          class="w-full"
          id="details"
          type="text"
          placeholder="{{ 'form.label.delivery.details' | translate }}"
          formControlName="details"
          pInputText
          [dt]="myInput(false)"
        >
      </p-iconfield>
      @if (!this.form.controls.details.untouched && !this.form.controls.details.valid) {
        <span title="Invalid Details" id="details-help" class="invalid-text">
          {{ "form.invalid.delivery.details" | translate }}
        </span>
      }
    </div>
  </div>

  <div class="buttons">
    <p-button
      title="Cancel"
      type="button"
      severity="danger"
      (click)="cancel()"
      label="{{ 'button.cancel' | translate | uppercase }}"/>
    <p-button
      title="Continue"
      type="submit"
      label="{{ 'button.continue' | translate | uppercase }}"/>
  </div>
</form>
