<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2 h-16">
      <p-iconfield [dt]="formIconColor()">
        <p-inputicon styleClass="pi pi-directions"/>
        <input
          class="w-full"
          id="street"
          type="text"
          placeholder="{{ 'form.label.delivery.address' | translate }}"
          formControlName="street"
          pInputText
          [dt]="myInput(false)"
        >
      </p-iconfield>
      @if (!this.form.controls.street.untouched && !this.form.controls.street.valid) {
        <small id="street-help" class="invalid-text">
          {{ "form.invalid.delivery.address" | translate }}
        </small>
      }
    </div>

    <div class="flex flex-col gap-2 h-16">
      <p-iconfield [dt]="formIconColor()">
        <p-inputicon styleClass="pi pi-home"/>
        <input
          class="w-full"
          id="streetNumber"
          type="tel"
          placeholder="{{ 'form.label.delivery.number' | translate }}"
          formControlName="number"
          pInputText
          [dt]="myInput(false)"
        >
      </p-iconfield>
      @if (!this.form.controls.number.untouched && !this.form.controls.number.valid) {
        <small id="number-help" class="invalid-text">
          {{ "form.invalid.delivery.number" | translate }}
        </small>
      }
    </div>

    <div class="flex flex-col gap-2 h-16">
      <p-iconfield [dt]="formIconColor()">
        <p-inputicon styleClass="pi pi-info-circle"/>
        <input
          class="w-full"
          id="details"
          type="text"
          placeholder="{{ 'form.label.delivery.details' | translate }}"
          formControlName="details"
          pInputText
          [dt]="myInput(false)"
        >
      </p-iconfield>
      @if (!this.form.controls.details.untouched && !this.form.controls.details.valid) {
        <small id="details-help" class="invalid-text">
          {{ "form.invalid.delivery.details" | translate }}
        </small>
      }
    </div>
  </div>

  <div class="buttons">
    <p-button
      severity="danger"
      type="button"
      (click)="cancel()"
      label="{{ 'button.cancel' | translate | uppercase }}"/>
    <p-button
      type="submit"
      label="{{ 'button.continue' | translate | uppercase }}"/>
  </div>
</form>
