<p-card>
  <form title="Registration Form" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-12">
      <h1 title="New Account"
          class="text-center font-semibold text-4xl">{{ "component.form.register.title" | translate | uppercase }}</h1>

      <div title="Inputs" class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon title="Full Name Icon" styleClass="pi pi-user"/>
            <input
              title="Full Name"
              class="w-full"
              id="name"
              type="text"
              placeholder="{{'form.label.name' | translate }}"
              formControlName="name"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div title="Invalid Name"
               class="invalid-text"
               *ngIf="this.form.controls.name.touched && this.form.controls.name.invalid">
            {{ "form.invalid.name" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon title="Email Icon" styleClass="pi pi-envelope"/>
            <input
              title="Email"
              id="email"
              type="email"
              placeholder="{{'form.label.email' | translate }}"
              formControlName="email"
              pInputText
              [ngClass]="['w-full', this.form.controls.matchingEmail.touched && this.form.hasError('emailsNotMatching')  ? 'invalid-border' : '' ]"
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div title="Invalid Email"
               class="invalid-text"
               *ngIf="this.form.controls.email.touched && this.form.controls.email.invalid">
            {{ "form.invalid.email" | translate }}
          </div>
          <div title="Email Mismatch"
               class="invalid-text"
               *ngIf="this.form.controls.matchingEmail.touched && this.form.hasError('emailsNotMatching')">
            {{ "form.invalid.email.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon title="Email Icon" styleClass="pi pi-envelope"/>
            <input
              title="Matching Email"
              id="matchingEmail"
              type="email"
              placeholder="{{'form.label.email.matching' | translate }}"
              formControlName="matchingEmail"
              pInputText
              [ngClass]="['w-full', this.form.controls.matchingEmail.touched && this.form.hasError('emailsNotMatching') ? 'invalid-border' : '' ]"
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div title="Email Mismatch"
               class="invalid-text"
               *ngIf="this.form.controls.matchingEmail.touched && (this.form.hasError('emailsNotMatching') || this.form.controls.matchingEmail.invalid)">
            {{ "form.invalid.email.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon title="Phone Icon" styleClass="pi pi-phone"/>
            <input
              title="Contact Number"
              class="w-full"
              id="contactNumber"
              type="tel"
              placeholder="{{'form.label.contact.number' | translate }}"
              formControlName="contactNumber"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div title="Invalid Contact Number"
               class="invalid-text"
               *ngIf="this.form.controls.contactNumber.touched && this.form.controls.contactNumber.invalid">
            {{ "form.invalid.contact.number" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              title="Password"
              id="password"
              placeholder="{{'form.label.password' | translate }}"
              formControlName="password"
              pInputText
              type="{{showPassword ? 'text' : 'password'}}"
              [ngClass]="['w-full', this.form.controls.matchingPassword.touched && this.form.hasError('passwordsNotMatching')  ? 'invalid-border' : '' ]"
              [dt]="myInput(false)"
            >
            <p-inputicon
              title="Toggle Password Visibility"
              (click)="togglePassword()"
              styleClass="{{showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          <div title="Invalid Password"
               class="invalid-text"
               *ngIf="this.form.controls.password.touched && this.form.controls.password.invalid">
            {{ "form.invalid.password" | translate }}
          </div>
          <div title="Password Mismatch"
               class="invalid-text"
               *ngIf="this.form.controls.matchingPassword.touched && this.form.hasError('passwordsNotMatching')">
            {{ "form.invalid.password.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              title="Matching Password"
              id="matchingPassword"
              placeholder="{{'form.label.password.matching' | translate }}"
              formControlName="matchingPassword"
              pInputText
              type="{{showMatchingPassword ? 'text' : 'password'}}"
              [ngClass]="['w-full', this.form.controls.matchingPassword.touched && this.form.hasError('passwordsNotMatching') ? 'invalid-border' : '' ]"
              [dt]="myInput(false)"
            >
            <p-inputicon
              title="Toggle Matching Password Visibility"
              (click)="toggleMatchingPassword()"
              styleClass="{{showMatchingPassword ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          <div
            title="Password Mismatch"
            class="invalid-text"
            *ngIf="this.form.controls.matchingPassword.touched && (this.form.hasError('passwordsNotMatching') || this.form.controls.matchingPassword.invalid)">
            {{ "form.invalid.password.matching" | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- STEP NAVIGATION BUTTONS -->
    <div title="Actions" class="buttons">
      <p-button
        title="Cancel registration"
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{'button.cancel' | translate | uppercase }}"/>
      <p-button
        title="Continue with registration"
        type="submit"
        label="{{'button.continue' | translate | uppercase }}"/>
    </div>

    <div title="Footer" class="flex flex-col items-center gap-4">
      <span title="Question">{{ "component.form.register.footer" | translate }}</span>
      <button
        type="button"
        title="Open Login Dialog"
        class="text-primary"
        (click)="showLoginDialog()">
        {{ "component.form.register.link" | translate }}
      </button>
    </div>
  </form>
</p-card>
