<p-card>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-12">
    <span
      class="text-center font-semibold text-4xl">{{ "component.form.register.title" | translate | uppercase }}</span>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-user"/>
            <input
              class="w-full"
              id="name"
              type="text"
              placeholder="{{'form.label.name' | translate }}"
              formControlName="name"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          @if (!this.form.controls.name.untouched && !this.form.controls.name.valid) {
            <small id="name-help" class="invalid-text">
              {{ "form.invalid.name" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-envelope"/>
            <input
              class="w-full"
              id="email"
              type="email"
              placeholder="{{'form.label.email' | translate }}"
              formControlName="email"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          @if (!this.form.controls.email.untouched && !this.form.controls.email.valid) {
            <small id="email-help" class="invalid-text">
              {{ "form.invalid.email" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-envelope"/>
            <input
              class="w-full"
              id="matchingEmail"
              type="email"
              placeholder="{{'form.label.email.matching' | translate }}"
              formControlName="matchingEmail"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          @if (!this.form.controls.matchingEmail.untouched && !this.form.controls.matchingEmail.valid) {
            <small id="matchingEmail-help" class="invalid-text">
              {{ "form.invalid.email.matching" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-phone"/>
            <input
              class="w-full"
              id="contactNumber"
              type="tel"
              placeholder="{{'form.label.contact.number' | translate }}"
              formControlName="contactNumber"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          @if (!this.form.controls.matchingEmail.untouched && !this.form.controls.matchingEmail.valid) {
            <small id="contactNumber-help" class="invalid-text">
              {{ "form.invalid.contact.number" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input class="w-full"
                   id="password"
                   type="{{showPassword ? 'text' : 'password'}}"
                   placeholder="{{'form.label.password' | translate }}"
                   formControlName="password"
                   pInputText
                   [dt]="myInput(false)"
            >
            <p-inputicon (click)="togglePassword()" styleClass="{{showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          @if (!this.form.controls.password.untouched && !this.form.controls.password.valid) {
            <small id="password-help" class="invalid-text">
              {{ "form.invalid.password" | translate }}
            </small>
          }
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input class="w-full"
                   id="matchingPassword"
                   type="{{showMatchingPassword ? 'text' : 'password'}}"
                   placeholder="{{'form.label.password.matching' | translate }}"
                   formControlName="matchingPassword"
                   pInputText
                   [dt]="myInput(false)"
            >
            <p-inputicon (click)="toggleMatchingPassword()"
                         styleClass="{{showMatchingPassword ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          @if (!this.form.controls.matchingPassword.untouched && !this.form.controls.matchingPassword.valid) {
            <small id="matchingPassword-help" class="invalid-text">
              {{ "form.invalid.password.matching" | translate }}
            </small>
          }
        </div>
      </div>
    </div>

    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{'button.cancel' | translate | uppercase }}"/>
      <p-button
        type="submit"
        label="{{'button.continue' | translate | uppercase }}"/>
    </div>

    <div class="flex flex-col items-center gap-4">
      <span>{{ "component.form.register.footer" | translate }}</span>
      <span class="text-primary"
            (click)="authService.setLoginDialog(true)">{{ "component.form.register.link" | translate }}</span>
    </div>
  </form>
</p-card>
