<p-card>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-12">
    <span
      class="text-center font-semibold text-4xl">{{ "component.form.register.title" | translate | uppercase }}</span>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-user"/>
            <input
              class="w-full"
              id="name"
              type="text"
              placeholder="{{'form.label.name' | translate }}"
              formControlName="name"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div class="invalid-text"
               *ngIf="this.form.controls.name.touched && this.form.controls.name.invalid">
            {{ "form.invalid.name" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-envelope"/>
            <input
              [ngClass]="['w-full', this.form.controls.matchingEmail.touched && this.form.hasError('emailsNotMatching')  ? 'invalid-border' : '' ]"
              id="email"
              type="email"
              placeholder="{{'form.label.email' | translate }}"
              formControlName="email"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div class="invalid-text"
               *ngIf="this.form.controls.email.touched && this.form.controls.email.invalid">
            {{ "form.invalid.email" | translate }}
          </div>
          <div class="invalid-text"
               *ngIf="this.form.controls.email.touched && this.form.controls.matchingEmail.touched && this.form.hasError('emailsNotMatching')">
            {{ "form.invalid.email.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-envelope"/>
            <input
              [ngClass]="['w-full', this.form.controls.matchingEmail.touched && this.form.hasError('emailsNotMatching') ? 'invalid-border' : '' ]"
              id="matchingEmail"
              type="email"
              placeholder="{{'form.label.email.matching' | translate }}"
              formControlName="matchingEmail"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div class="invalid-text"
               *ngIf="this.form.controls.matchingEmail.touched && (this.form.hasError('emailsNotMatching') || this.form.controls.matchingEmail.invalid)">
            {{ "form.invalid.email.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-phone"/>
            <input
              class="w-full"
              id="contactNumber"
              type="tel"
              placeholder="{{'form.label.contact.number' | translate }}"
              formControlName="contactNumber"
              pInputText
              [dt]="myInput(false)"
            >
          </p-iconfield>
          <div class="invalid-text"
               *ngIf="this.form.controls.contactNumber.touched && this.form.controls.contactNumber.invalid">
            {{ "form.invalid.contact.number" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              [ngClass]="['w-full', this.form.controls.matchingPassword.touched && this.form.hasError('passwordsNotMatching')  ? 'invalid-border' : '' ]"
              id="password"
              type="{{showPassword ? 'text' : 'password'}}"
              placeholder="{{'form.label.password' | translate }}"
              formControlName="password"
              pInputText
              [dt]="myInput(false)"
            >
            <p-inputicon (click)="togglePassword()" styleClass="{{showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          <div class="invalid-text"
               *ngIf="this.form.controls.password.touched && this.form.controls.password.invalid">
            {{ "form.invalid.password" | translate }}
          </div>
          <div class="invalid-text"
               *ngIf="this.form.controls.password.touched && this.form.controls.matchingPassword.touched && this.form.hasError('passwordsNotMatching')">
            {{ "form.invalid.password.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              [ngClass]="['w-full', this.form.controls.matchingPassword.touched && this.form.hasError('passwordsNotMatching') ? 'invalid-border' : '' ]"
              id="matchingPassword"
              type="{{showMatchingPassword ? 'text' : 'password'}}"
              placeholder="{{'form.label.password.matching' | translate }}"
              formControlName="matchingPassword"
              pInputText
              [dt]="myInput(false)"
            >
            <p-inputicon (click)="toggleMatchingPassword()"
                         styleClass="{{showMatchingPassword ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          <div class="invalid-text"
               *ngIf="this.form.controls.matchingPassword.touched && (this.form.hasError('passwordsNotMatching') || this.form.controls.matchingPassword.invalid)">
            {{ "form.invalid.password.matching" | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{'button.cancel' | translate | uppercase }}"/>
      <p-button
        type="submit"
        label="{{'button.continue' | translate | uppercase }}"/>
    </div>

    <div class="flex flex-col items-center gap-4">
      <span>{{ "component.form.register.footer" | translate }}</span>
      <span class="text-primary"
            (click)="showLoginDialog()">{{ "component.form.register.link" | translate }}</span>
    </div>
  </form>
</p-card>
