@if (!this.checkoutFormService.isStepFilled(3)) {
  <div class="flex flex-column justify-content-between align-items-center gap-5 h-full w-full">
    <span class="text-center">{{ "component.form.step.four.warning" | translate }}</span>
    <p-button
      type="button"
      (onClick)="firstStep()"
      [disabled]="checkoutFormService.step() === 0"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <form class="flex flex-column justify-content-between gap-8 h-full w-full" [formGroup]="form" (ngSubmit)="nextStep()">
    <div class="flex flex-column gap-5">

      <div class="flex flex-column gap-3">
        <label for="paymentMethod">{{ "component.form.step.four.advice" | translate }}</label>
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-angle-down"/>
          <select
            class="w-full"
            pInputText
            id="paymentMethod"
            formControlName="paymentMethod"
            (change)="togglePaymentOption($event.target!)">
            <option *ngFor="let option of paymentOptions" [value]="option.code">{{ option.description | translate }}
            </option>
          </select>
        </p-iconField>

        @if (checkoutFormService.cashPayment()) {

          <label for="changeRequestChoice">{{ "component.form.step.four.bill.change.question" | translate }}</label>
          <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-angle-down"/>
            <select
              [ngModel]="selectedChangeOption.code"
              [ngModelOptions]="{standalone: true}"
              class="w-full"
              pInputText
              id="changeRequestChoice"
              (change)="toggleChangeRequest($event.target!)">
              <option *ngFor="let option of changeOptions" [value]="option.code">{{ option.description | translate }}
              </option>
            </select>
          </p-iconField>
        }

        @if (checkoutFormService.changeRequested()) {
          <label for="billToChange">{{ "component.form.step.four.bill.change.advice" | translate }}</label>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-euro"/>
            <input
              class="w-full invalid-border"
              pInputText
              placeholder="10"
              id="billToChange"
              type="tel"
              formControlName="billToChange">
          </p-iconField>
          @if (!this.form.controls.billToChange.untouched && !this.form.controls.billToChange.valid) {
            <small id="fullName-help" class="invalid-text">
              {{ "form.invalid.bill.change" | translate }}
            </small>
          }
        }
      </div>

    </div>
    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        type="button"
        (onClick)="previousStep()"
        [disabled]="checkoutFormService.step() === 0"
        label="{{ 'button.step.previous' | translate | uppercase }}"/>
      <p-button
        severity="danger"
        type="button"
        (onClick)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase }}"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        [disabled]="checkoutFormService.step() === 4"
        label="{{ 'button.step.next' | translate | uppercase }}"/>
    </div>
  </form>
}
