<p-card>
  <div class="flex flex-col items-center gap-4" routerLink="{{orderSummary().id}}">
    <div class="flex items-center gap-2">
      <span class="text-xl text-primary">{{ orderSummary().id }}</span>
      <i class="pi pi-arrow-down-left-and-arrow-up-right-to-center" style="color: var(--p-primary-color)"></i>
    </div>

    <div class="flex flex-col gap-4">
      <span>{{ "view.order.created.on" | translate }} {{ orderSummary().formattedCreatedOn }}</span>
    </div>

    <div class="flex gap-4">

      @if (orderSummary().cart.totalCostOffers) {
        <div class="flex items-center gap-2">
          <span>{{ "component.cart.total.offers" | translate }}:</span>
          <p-button
            type="button"
            [text]="true"
            label="{{ orderSummary().cart.totalCostOffers.toFixed(2) }}€"
            severity="success"/>

        </div>
      }

      <div class="flex items-center gap-2">
        <span>Total:</span>
        <p-button
          type="button"
          [text]="true"
          label="{{ orderSummary().cart.totalCost.toFixed(2) }}€"
          [severity]="orderSummary().cart.totalCostOffers ? 'danger' : 'success'"/>
      </div>
    </div>
  </div>
</p-card>
