@if (!checkoutFormService.isStepFilled(1)) {
  <div class="form flex flex-column justify-content-between align-items-center">
    <span class="text-center">{{ "component.form.step.two.warning" | translate }}</span>
    <p-button
      type="button"
      (onClick)="previousStep()"
      [disabled]="checkoutFormService.step() === 0"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <form class="form w-full" [formGroup]="form" (ngSubmit)="nextStep()">
    <!-- ADDRESS SELECT -->
    <div class="flex flex-column gap-5">

      <div class="flex flex-column gap-3">
        <label for="deliveryOption">{{ "component.form.step.two.advice" | translate }}</label>
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-angle-down"/>
          <select
            [ngModel]="selectedOption.code"
            [ngModelOptions]="{standalone: true}"
            (change)="selectDelivery($event)"
            pInputText
            class="w-full"
            id="deliveryOption">
            <option *ngFor="let option of options" [value]="option.code">{{ option.description | translate }}</option>
          </select>
        </p-iconField>
      </div>

      @if (checkoutFormService.homeDelivery()) {
        @if (isAuthenticated()) {
          <app-user-address-list-view
            (onAddressSelect)="setSelectedId($event)"
            [selected]="this.checkoutFormService.selectedId().id"
            [valid]="validSelection"
          />
        } @else {
          <div class="flex flex-column gap-3">

            <div class="flex flex-column gap-2 h-4rem">
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-directions"/>
                <input
                  class="w-full"
                  pInputText
                  id="street"
                  type="text"
                  placeholder="{{ 'form.label.delivery.address' | translate }}"
                  formControlName="street">
              </p-iconField>
              @if (!this.form.controls.street.untouched && !this.form.controls.street.valid) {
                <small id="street-help" class="invalid-text">
                  {{ "form.invalid.delivery.address" | translate }}
                </small>
              }
            </div>

            <div class="flex flex-column gap-2 h-4rem">
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-home"/>
                <input
                  class="w-full"
                  pInputText
                  id="streetNumber"
                  type="tel"
                  placeholder="{{ 'form.label.delivery.number' | translate }}"
                  formControlName="number">
              </p-iconField>
              @if (!this.form.controls.number.untouched && !this.form.controls.number.valid) {
                <small id="number-help" class="invalid-text">
                  {{ "form.invalid.delivery.number" | translate }}
                </small>
              }
            </div>

            <div class="flex flex-column gap-2 h-4rem">
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-info-circle"/>
                <input
                  class="w-full"
                  pInputText
                  id="details"
                  type="text"
                  placeholder="{{ 'form.label.delivery.details' | translate }}"
                  formControlName="details">
              </p-iconField>
              @if (!this.form.controls.details.untouched && !this.form.controls.details.valid) {
                <small id="details-help" class="invalid-text">
                  {{ "form.invalid.delivery.details" | translate }}
                </small>
              }
            </div>
          </div>
        }
      } @else {
        <!-- STORE SELECT -->
        <div class="flex flex-column gap-5 mb-4">
          @if (stores.status() === "pending") {
            <span class="text-primary">{{ "loading.stores" | translate }}</span>
          } @else if (stores.status() === "error") {
            <app-server-error/>
          } @else {
            @for (store of stores.data()!.payload; track store.id) {
              <app-store-checkout
                [store]="store"
                (onStoreSelect)="setSelectedId($event)"
                [selected]="this.checkoutFormService.selectedId().id"
                [valid]="validSelection"
              />
            }
          }
        </div>
      }
    </div>
    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        type="button"
        (onClick)="previousStep()"
        [disabled]="checkoutFormService.step() === 0"
        label="{{ 'button.step.previous' | translate | uppercase }}"/>
      <p-button
        severity="danger"
        type="button"
        (click)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase }}"/>
      <p-button
        type="button"
        (onClick)="nextStep()"
        [disabled]="checkoutFormService.step() === 4"
        label="{{ 'button.step.next' | translate | uppercase }}"/>
    </div>
  </form>
}
