.invalid-text {
  color: var(--p-red-800);
}

.container {
  min-height: 50rem;
}

.cart {
  max-height: 50rem;
  width: 25rem;
}

@media (max-width: 992px) {
  .cart {
    display: none;
  }
}

@media (max-width: 578px) {
  .container {
    min-height: 35rem;
  }
}
