@if (checkoutFormService.orderSuccess === null) {
  <div class="flex flex-col gap-8 justify-between items-center">
    <span class="text-center text-4xl italic">{{ "component.order.success.no.content" | translate }}</span>
    <p-button
      type="button"
      (onClick)="goBack()"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <div class="container flex flex-col items-center gap-8">

    <div class="flex flex-col gap-4">
      <span
        class="text-4xl text-center">{{ "view.order" | translate }} {{ checkoutFormService.orderSuccess!.id }} {{ "view.order.created" | translate }}</span>
      <span
        class="text-2xl text-center">{{ "view.order.created.on" | translate }} {{ checkoutFormService.orderSuccess!.formattedCreatedOn }}</span>
    </div>

    <div class="flex gap-4">

      <div class="flex flex-col gap-4">
        <p-card>
          <div class="flex flex-col gap-4">
            <span class="text-2xl text-primary">{{ "view.customer.header" | translate }}</span>
            <app-user-details [anon]="checkoutFormService.orderSuccess!.customer"/>
          </div>
        </p-card>

        <app-address-details
          [address]="checkoutFormService.orderSuccess!.address"
          [orderDetails]="checkoutFormService.orderSuccess!.orderDetails"

        />
        <app-order-details
          [orderDetails]="checkoutFormService.orderSuccess!.orderDetails"/>
      </div>

      <div class="cart">
        <app-cart [viewOnly]="true"/>
      </div>
    </div>

    <div class="flex flex-col items-center gap-4">
      @if (!authService.isAuthenticated) {
        <span class="text-center">{{ "component.order.success.anon.advice" | translate }}</span>
        <span class="text-center text-primary"
              routerLink="/registration">{{ "component.order.success.anon.link" | translate }}</span>
      }
    </div>
  </div>
}
