<div class="flex flex-col items-center gap-8">

  <div class="flex justify-center gap-40">

    <div class="flex flex-col gap-6">

      <span class="font-bold">{{ "component.custom.pizza.essentials" | translate }}</span>

      <div title="The Essentials" class="flex flex-col w-fit gap-3">

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.custom.pizza.format" | translate }}</span>
          <p-selectButton
            name="format"
            id="format"
            size="small"
            [options]="formatOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="formatControl"
            (onOptionClick)="onSelectFormat($event)"
            [allowEmpty]="false"
            [ngClass]="['flex flex-wrap gap-2']">
            <ng-template #item let-item>
              <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.products.filters.allergen" | translate }}</span>
          <div class="flex gap-2">
            <p-selectButton
              name="allernges"
              id="allergens"
              size="small"
              [options]="allergenOptions"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="allergensControl"
              (onOptionClick)="onSelectAllergenExclusion($event)"
              [disabled]="format === ''"
              [multiple]="true"
              [ngClass]="['flex flex-wrap gap-2']">
              <ng-template #item let-item>
                <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
              </ng-template>
            </p-selectButton>
          </div>
        </div>

        <div class="flex flex-col gap-2 w-fit ">
          <span>{{ "component.custom.pizza.base.sauce" | translate }}</span>
          <p-selectButton
            name="sauce"
            id="sauce"
            size="small"
            [options]="sauceOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="sauceControl"
            (onOptionClick)="onSelectBaseSauce($event)"
            [disabled]="format === ''"
            [ngClass]="['flex flex-wrap gap-2']">
            <ng-template #item let-item>
              <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.custom.pizza.base.cheese" | translate }}</span>
          <p-selectButton
            name="baseCheese"
            id="baseCheese"
            size="small"
            [options]="baseCheeseOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="baseCheeseControl"
            (onOptionClick)="onSelectBaseCheese($event)"
            [disabled]="format === ''"
            [ngClass]="['flex flex-wrap gap-2']">
            <ng-template #item let-item>
              <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
            </ng-template>
          </p-selectButton>
        </div>

      </div>

      <span class="font-bold">{{ "component.custom.pizza.ingredients" | translate }}</span>

      <div class="flex flex-col gap-2">
        <span>{{ "component.products.filters.cheese" | translate }}</span>
        <p-selectButton
          size="small"
          [options]="cheeseOptions"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="cheeseControl"
          (onOptionClick)="onSelectIngredient($event)"
          [disabled]="format === '' || isLactoseFree"
          [multiple]="true"
          class="flex flex-wrap gap-2">
          <ng-template #item let-item>
            <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
          </ng-template>
        </p-selectButton>
      </div>

      <div class="flex flex-col gap-2 w-fit">
        <span>{{ "component.products.filters.vegetable" | translate }}</span>
        <p-selectButton
          name="vegerable"
          id="vegetable"
          size="small"
          [options]="vegetableOptions"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="vegetableControl"
          (onOptionClick)="onSelectIngredient($event)"
          [disabled]="format === ''"
          [multiple]="true"
          class="flex flex-wrap gap-2">
          <ng-template #item let-item>
            <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
          </ng-template>
        </p-selectButton>
      </div>

      <div title="Ingredients" class="flex flex-col w-fit gap-3">
        <div class="flex flex-col gap-2">
          <span>{{ "component.products.filters.meat" | translate }}</span>
          <p-selectButton
            name="meat"
            id="meat"
            size="small"
            [options]="meatOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="meatControl"
            (onOptionClick)="onSelectIngredient($event)"
            [disabled]="format === ''"
            [multiple]="true"
            class="flex flex-wrap gap-2">
            <ng-template #item let-item>
              <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
            </ng-template>
          </p-selectButton>
        </div>

        <div class="flex flex-col gap-2 w-fit">
          <span>{{ "component.products.filters.oil" | translate }}</span>
          <p-selectButton
            name="others"
            id="others"
            size="small"
            [options]="otherOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="otherControl"
            (onOptionClick)="onSelectIngredient($event)"
            [disabled]="format === ''"
            [multiple]="true"
            class="flex flex-wrap gap-2">
            <ng-template #item let-item>
              <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
            </ng-template>
          </p-selectButton>
        </div>

      </div>

    </div>
  </div>

  @if (allergensInfo().length > 0) {
    <div title="Allergens" class="flex flex-col gap-2 items-center">
      <div class="flex gap-2 items-center">
        <span class="font-bold text-xl allergen-color">{{ "component.products.filters.allergen" | translate }}</span>
      </div>
      <div class="flex justify-center flex-wrap gap-2">
        @for (allergen of this.allergensInfo(); track $index) {
          <span class="font-bold">{{ allergen | translate }}</span>
        }
      </div>
    </div>
  }

  <div class="flex gap-2">
    <p-button
      title="Reset"
      type="button"
      [raised]="true"
      [outlined]="true"
      label="{{'button.custom.pizza.reset' | translate | uppercase}}"
      (onClick)="reset()"
    />
    <p-button
      title="Add"
      type="button"
      [raised]="true"
      [outlined]="true"
      label="{{'button.custom.pizza.add' | translate | uppercase}}"
      (onClick)="onSubmit()"
      [severity]="(ingredientQuantity() > 9 || ingredientQuantity() < 3) ? 'danger' : 'primary'"
      [disabled]="ingredientQuantity() > 9 || ingredientQuantity() < 3"
    />
  </div>

  <div class="price">
    <p-button
      title="Price"
      type="button"
      size="small"
      label="{{ price().toFixed(2) }}€"
      severity="primary"
      [raised]="true"/>
  </div>

  <div class="quantity">
    <p-button
      title="Ingredients Quantity"
      type="button"
      size="small"
      label="{{ ingredientQuantity() }}/9"
      [severity]="(ingredientQuantity() > 9 || ingredientQuantity() < 3)  ? 'danger' : 'primary'"
      [raised]="true"/>
  </div>
</div>
