@if (query.status() !== "error") {
  <div class="layout">

    <div class="products-search">
      <app-products-search (onSearch)="filterService.setSearchText($event)"/>
      <app-products-filter [items]="getAllBeverageFilters()"/>
    </div>

    <div class="container">
      <ul title="Beverage List" class="products flex flex-wrap gap-y-8 gap-x-8">

        @if (query.status() === "pending") {
          <ng-container *ngFor="let _ of [].constructor(skeletonCount)">
            <li>
              <p-skeleton width="15rem" height="25rem"/>
            </li>
          </ng-container>
        }

        @if (query.status() === "success") {
          @if (query.data()!.payload.productList | productsSearch: filterService.searchText:filters(); as products) {
            @if (products.length > 0) {

              @for (product of products; track product.id) {
                <li>
                  <app-product [product]="product"/>
                </li>
              }

            } @else {
              <p class="text-2xl">{{ 'component.pizzas.filter.result.empty' | translate }}</p>
            }
          }
        }
      </ul>

      <div class="paginator">
        <p-paginator
          title="Paginator"
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="8"
          [totalRecords]="totalElements"/>
      </div>
    </div>
  </div>
} @else {
  <div class="flex justify-center">
    <app-server-error/>
  </div>
}
