<p-card>
  <div class="flex gap-2">
    <p-selectButton
      [(ngModel)]="timeLineControl"
      [options]="timeLineOptions"
      class="flex flex-wrap gap-2"
      id="timeline"
      name="timeline"
      optionLabel="label"
      optionValue="value"
      size="small">
      <ng-template #item let-item>
        <span title="{{ item.label | translate }}"> {{ item.label | translate }}</span>
      </ng-template>
    </p-selectButton>
  </div>
  <p-chart type="line" [data]="data" [options]="options" class="chart"/>
</p-card>
