:host ::ng-deep .p-selectbutton .p-togglebutton {
  border-radius: 8px;
}

:host ::ng-deep .p-togglebutton {
  border-radius: 8px;
}

:host ::ng-deep .p-button {
  width: 8rem;
}

:host ::ng-deep .p-togglebutton.p-togglebutton-checked {
  color: var(--p-primary-color);
}

img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: 6px;
}

.price {
  position: absolute;
  top: 100%;
  right: 50.5%;
}

.quantity {
  position: absolute;
  top: 100%;
  left: 50.5%;
}

.allergen-color {
  color: var(--p-yellow-500);
}
