<p-card header="{{currentLang() === 'en' ? offer().name.en : offer().name.es}}" [style]="{ width: '320px' }">

  <ng-template pTemplate="header">
    <img class="border-round" [ngSrc]="offer().image" width="50" height="200" alt="Product image">
  </ng-template>

  <span>{{ currentLang() === 'en' ? offer().description.en : offer().description.es }}</span>

  <ng-template pTemplate="footer">
    <p-accordion>

      <p-accordionTab header="{{'component.offer.item.conditions' | translate}}">
        <span>{{ currentLang() === 'en' ? offer().caveat.en : offer().caveat.es }}</span>
      </p-accordionTab>

    </p-accordion>
  </ng-template>
</p-card>
