<div class="flex flex-col gap-4">
  @if (incidents.status() === 'success') {
    <p-card>
      <p-table
        [value]="incidents.data()!.content"
        [showGridlines]="true"
        [resizableColumns]="true"
        [lazy]="true"
        [paginator]="true"
        [first]="first()"
        [rows]="rows()"
        [totalRecords]="totalElements()"
        [rowsPerPageOptions]="[5, 10, 20]"
        (onPage)="onPageSelect($event)"
        stripedRows
      >
        <ng-template #header>
          <tr>
            <th>Id</th>
            <th>Fatal</th>
            <th>Date</th>
            <th>Path</th>
            <th>Cause</th>
          </tr>
        </ng-template>
        <ng-template #body let-incidentDTO>
          @let incident = withType(incidentDTO);
          <tr>
            <td>{{ incident.id }}</td>
            <td>
              <p-badge [value]="String(incident.fatal)" [severity]="fatalSeverity(incident.fatal)"/>
            </td>
            <td>{{ incident.createdOn | date:'short' }}</td>
            <td>{{ incident.path }}</td>
            <td>{{ incident.cause }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  }

  @if (incidents.status() === 'pending') {
    <p-skeleton height="130px"/>
  }

  @if (incidents.status() === 'error') {
    <app-server-error/>
  }
</div>
