<div [ngClass]="[smallTable() ? 'table-small' : 'table-large']">
  @if (incidents.status() === 'success') {
    <p-card>
      <p-table
        #dt2
        dataKey="id"
        [value]="incidents.data()!.content"
        [globalFilterFields]="['id', 'fatal', 'createdOn', 'path', 'cause']"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [expandedRowKeys]="expandedRows"
      >
        <ng-template #caption>
          <div class="table-caption">

            <div class="flex gap-2 items-center">
              <p-date-picker
                [(ngModel)]="rangeDates"
                selectionMode="range"
                [readonlyInput]="true"
                [showOtherMonths]="true"
                [selectOtherMonths]="true"
                [showButtonBar]="true"/>

              <p-button
                label='{{ "form.label.search" | translate }}'
                size="small"
                type="button"
                (click)="fetch()"
              />
            </div>

            <div class="flex gap-4">
              <input
                class="search-box"
                pInputText
                type="text"
                (input)="dt2.filterGlobal(getValue($event.target), 'contains')"
                placeholder='{{ "form.label.search" | translate }}'
              />

              <div (click)="toggleTableSize()">
                <i
                  style="font-size: 1.25rem; color: var(--p-primary-color)"
                  [ngClass]="[smallTable() ? 'pi pi-window-maximize' : 'pi pi-window-minimize']"></i>
              </div>
            </div>

          </div>
        </ng-template>

        <ng-template #header>
          <tr>
            <th>Id</th>
            <th>Fatal</th>
            <th>{{ 'table.header.date' | translate }}</th>
            <th>{{ 'table.header.path' | translate }}</th>
            <th>{{ 'table.header.cause' | translate }}</th>
          </tr>

          <tr>
            <th>
              <p-columnFilter type="text" field="id" placeholder='{{ "table.search.by.id" | translate }}' ariaLabel="Filter Id"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="fatal" matchMode="equals" [showMenu]="false">
                <ng-template #filter let-filter="filterCallback">
                  <p-select
                    [options]="fatal"
                    (onChange)="filter($event.value)"
                    placeholder='{{ "table.select.placeholder" | translate }}'
                    [showClear]="true"
                  >
                    <ng-template let-option #item>
                      <p-tag [value]="option.value"
                             [severity]="getStringSeverity(option.value)"
                      />
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="createdOn" placeholder='{{ "table.search.by.date" | translate }}' ariaLabel="Filter Date"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="path" placeholder='{{ "table.search.by.path" | translate }}' ariaLabel="Filter Path"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="cause" placeholder='{{ "table.search.by.cause" | translate }}' ariaLabel="Filter Cause"></p-columnFilter>
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-incidentDTO let-expanded="expanded">
          @let incident = withType(incidentDTO);
          <tr>
            <td>
              <p-button
                type="button"
                pRipple
                [pRowToggler]="incident"
                [text]="true"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
              {{ incident.id }}
            </td>
            <td>
              <p-badge [value]="String(incident.fatal)" [severity]="getBooleanSeverity(incident.fatal)"/>
            </td>
            <td>{{ incident.createdOn }}</td>
            <td>{{ incident.path }}</td>
            <td>{{ incident.cause }}</td>
          </tr>
        </ng-template>

        <ng-template class="row-expanded" #expandedrow let-incidentDTO>
          @let incident = withType(incidentDTO);
          <tr>
            <td colspan="5">
              <div class="p-4 flex gap-3 items-center">
                <p-button
                  [raised]="true"
                  [text]="true"
                  label='{{ "table.row.message" | translate }}'
                  severity="primary"/>
                {{ incident.message }}
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="5">{{ "table.no.records" | translate }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  }

  @if (incidents.status() === 'pending') {
    <p-skeleton height="130px"/>
  }

  @if (incidents.status() === 'error') {
    <app-server-error/>
  }
</div>
