.origin-select-container {
  width: fit-content;
}

.table-small {
  width: 65vw;
}

.table-large {
  width: 95vw;
}

.table-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 576px) {
  .table-caption {
    flex-direction: column;
  }

  .search-box {
    width: 45vw;
  }
}
