<div class="flex flex-column align-items-center gap-8">

  <!-- WELCOME MESSAGE  -->
  <div class="flex flex-column align-items-center">
    <span class="font-bold font-italic text-primary font-size">Bienvenidos</span>
    <span class="font-bold font-italic text-primary font-size">a la</span>
    <span class="font-bold font-italic text-primary font-size">Pizzeria Fabulosa</span>
  </div>

  <!-- OFFERS  -->
  <div class="flex flex-column align-items-center gap-5">
    <span class="text-center uppercase font-bold cart-header">Descubre nuestras ofertas</span>
    @if (offers.status() === "error") {
      <p>Error {{ offers.error()?.message }}</p>
    } @else if (offers.status() === "success") {
      <div class="flex flex-wrap justify-content-center gap-5">
        @for (offer of offers.data()!.payload; track offer.id) {
          <app-offer-item [offer]="offer"/>
        }
      </div>
    }
  </div>

  <!-- STORES -->
  <div class="flex flex-column align-items-center gap-5">
    <span class="text-center uppercase font-bold cart-header">Acercate a la tienda</span>
    @if (stores.status() === "error") {
      <p>Error {{ stores.error()?.message }}</p>
    } @else if (stores.status() === "success") {
      <div class="flex flex-wrap justify-content-center gap-5">
        @for (store of stores.data()!.payload; track store.id) {
          <app-store-item [store]="store"/>
        }
      </div>
    }
  </div>
</div>
