.font-size {
  font-size: 6rem !important;
}

.cart-header {
  font-size: 2.5rem !important;
}


@media (max-width: 1025px) {
  .font-size {
    font-size: 4rem !important;
  }

  .cart-header {
    font-size: 2rem !important;
  }
}

@media (max-width: 798px) {
  .font-size {
    font-size: 3.5em !important;
  }

  .cart-header {
    font-size: 2rem !important;
  }
}

@media (max-width: 585px) {
  .font-size {
    font-size: 2.5rem !important;
  }

  .cart-header {
    font-size: 1.5rem !important;
  }
}
