<div>
  <!-- WELCOME MESSAGE  -->
  <div>
    <span>Bienvenidos a la Pizzeria Fabulosa</span>
  </div>

  <!-- OFFERS  -->
  <div class="flex flex-column align-items-center gap-5">
    <span class="text-4xl uppercase font-bold">Descubre nuestras ofertas</span>
    @if (offers.status() === "pending") {
      <p>Loading...</p>
    } @else if (offers.status() === "error") {
      <p>Error {{ offers.error()?.message }}</p>
    } @else {
      <div class="flex flex-wrap gap-5">
        @for (offer of offers.data(); track offer.id) {
          <app-offer-item [offer]="offer"/>
        }
      </div>
    }
  </div>

  <!-- STORES -->
  <div class="flex flex-column align-items-center gap-5">
    <span class="text-4xl uppercase font-bold">Acercate a la tienda</span>
    @if (stores.status() === "pending") {
      <p>Loading...</p>
    } @else if (stores.status() === "error") {
      <p>Error {{ stores.error()?.message }}</p>
    } @else {
      <div class="flex flex-wrap gap-5">
        @for (store of stores.data(); track store.id) {
          <app-store-item [store]="store"/>
        }
      </div>
    }
  </div>
</div>
