<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-column gap-6">

    <span class="text-center text-4xl">Create your account!</span>

    <div class="flex flex-column gap-3">

      <div class="flex flex-column gap-2 h-4rem">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-user"/>
          <input
            class="w-full"
            pInputText
            id="name"
            type="text"
            placeholder="Your full name"
            formControlName="name">
        </p-iconField>
        @if (!this.form.controls.name.untouched && !this.form.controls.name.valid) {
          <small id="name-help" class="invalid-text">
            Full name is required.
          </small>
        }
      </div>

      <div class="flex flex-column gap-2 h-4rem">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-envelope"/>
          <input
            class="w-full"
            pInputText
            id="email"
            type="email"
            placeholder="Email"
            formControlName="email">
        </p-iconField>
        @if (!this.form.controls.email.untouched && !this.form.controls.email.valid) {
          <small id="email-help" class="invalid-text">
            Email address is required.
          </small>
        }
      </div>

      <div class="flex flex-column gap-2 h-4rem">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-envelope"/>
          <input
            class="w-full"
            pInputText
            id="matchingEmail"
            type="email"
            placeholder="Re-enter your email"
            formControlName="matchingEmail">
        </p-iconField>
        @if (!this.form.controls.email.untouched && !this.form.controls.email.valid) {
          <small id="matchingEmail-help" class="invalid-text">
            Please make sure your email address matches.
          </small>
        }
      </div>

      <div class="flex flex-column gap-2 h-4rem">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-key"/>
          <input class="w-full"
                 pInputText
                 id="password"
                 type="password"
                 placeholder="Password"
                 formControlName="password">
        </p-iconField>
        @if (!this.form.controls.password.untouched && !this.form.controls.password.valid) {
          <small id="passowrd-help" class="invalid-text">
            Password is requiered.
          </small>
        }
      </div>

      <div class="flex flex-column gap-2 h-4rem">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-key"/>
          <input class="w-full"
                 pInputText
                 id="matchingPassword"
                 type="password"
                 placeholder="Re-enter your password"
                 formControlName="matchingPassword">
        </p-iconField>
        @if (!this.form.controls.password.untouched && !this.form.controls.password.valid) {
          <small id="contactNumber-help" class="invalid-text">
            Please make sure your password matches.
          </small>
        }
      </div>
    </div>

  </div>

  <!-- STEP NAVIGATION BUTTONS -->
  <div class="buttons">
    <p-button
      severity="danger"
      type="button"
      (onClick)="cancel()"
      label="CANCELAR"/>
    <p-button
      type="submit"
      label="CONTINUAR"/>
  </div>

  <div class="flex flex-column align-items-center gap-3">
    <span>¿Ya tienes una cuenta?</span>
    <span class="text-primary" (click)="authService.setLoginDialog(true)">Inicia sesión</span>
  </div>
</form>
