:host ::ng-deep .p-input-icon {
  color: var(--primary-color);
}

:host ::ng-deep .p-button {
  width: 10rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid #f87171;
}

.invalid-text {
  color: #f87171;
}

.form {
  min-height: 35rem;
  width: 25rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 992px) {
  .form {
    width: 80vw;
  }

  .buttons {
    flex-direction: column-reverse;
    gap: 1.5rem;
    width: 100%;
  }

  :host ::ng-deep .p-button {
    width: 100%;
  }
}
