<div class="flex gap-5">
  <div class="flex flex-column gap-5">
    <div class="steps">
      <p-card>
        <p-steps [activeIndex]="checkoutFormService.step()" [model]="steps"/>
      </p-card>
    </div>

    <div class="small-steps">
      <p-card>
        <app-small-screen-steps [activeIndex]="checkoutFormService.step()" [items]="steps"/>
      </p-card>
    </div>

    <div class="form-container flex flex-column gap-6 align-items-center">
      <div class="form w-full">
        <router-outlet/>
      </div>
    </div>
  </div>
  <div class="sm-cart">
    <app-cart-checkout/>
  </div>
</div>
