input.ng-invalid.ng-touched {
  border: 1px solid #f87171;
}

.invalid-text {
  color: #f87171;
}

:host ::ng-deep .p-input-icon {
  color: var(--primary-color);
}

:host ::ng-deep .p-button {
  width: 10rem;
}

.form-container {
  width: 40vw;
  min-width: 15rem;
}

.form {
  min-height: 26.5rem;
}

.steps {
  width: 100%;
}

.small-steps {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1185px) {
  .form-container {
    width: 40vw;
  }

  .steps {
    display: none;
  }

  .small-steps {
    display: block;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .sm-cart {
    display: none;
  }

  .form-container {
    width: 80vw;
  }
}

@media (max-width: 578px) {
  :host ::ng-deep .p-button {
    width: 100%;
  }

  .buttons {
    flex-direction: column-reverse;
    gap: 1.5rem;
    width: 100%;
  }

  .form {
    min-height: 0;
  }
}
