@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  font-size: 14px;
}

.upper-layout {
  padding: 8rem 10.5rem 2rem 10.5rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .upper-layout {
    padding: 8rem 10.5rem 2rem 10.5rem;
  }
}

@media (max-width: 768px) {
  .upper-layout {
    padding: 8rem 5.5rem 2rem 5.5rem;
  }
}

@media (max-width: 576px) {
  .upper-layout {
    padding: 8rem 0 2rem 0;
  }
}
