@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  font-size: 14px;
}

.upper-layout {
  padding: 8rem 9rem 2rem 9rem;
  display: flex;
}
