@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.upper-layout {
  padding: 8rem 0 2rem 0;
  display: flex;
  justify-content: center;
  width: 80%;
}

@media (max-width: 992px) {
  .upper-layout {
    padding: 8rem 0 2rem 0;
  }
}

@media (max-width: 768px) {
  .upper-layout {
    padding: 8rem 0 2rem 0;
  }
}

@media (max-width: 576px) {
  .upper-layout {
    padding: 8rem 0 2rem 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* filled input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.55) inset !important;
}
