<p-dialog
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '576px': '90vw' }"
  [style]="{ width: '30rem' }"
  [modal]="true"
  (onHide)="closeLoginDialog()"
  [dismissableMask]="true"
  [(visible)]="visible">
  <ng-template pTemplate="headless">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col px-12 py-6 gap-6 style">
        <span
          class="text-primary-50 text-center text-2xl font-bold">{{ "component.form.login.title" | translate }}</span>

        <div class="inline-flex flex-col gap-2">
          <label for="email" class="text-primary-50 font-semibold">{{ "form.label.email" | translate }}</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            name="email"
            class="bg-white/20 border-0 p-4 text-primary-50"/>
        </div>

        <div class="inline-flex flex-col gap-2 w-full">
          <label for="password"
                 class="text-primary-50 font-semibold">{{ "form.label.password" | translate }}</label>
          <p-iconField iconPosition="right">
            <p-inputIcon (click)="togglePassword()" styleClass="{{showPassword() ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
            <input
              formControlName="password"
              id="password"
              name="password"
              class="bg-white/20 border-0 p-4 text-primary-50 w-full"
              type="{{showPassword() ? 'text' : 'password'}}"/>
          </p-iconField>
        </div>

        <div class="flex items-center buttons gap-2">
          <p-button
            type="button"
            label="{{ 'button.cancel' | translate | uppercase }}"
            (onClick)="closeLoginDialog()"
            [text]="true"
            styleClass="p-4 w-full text-primary-50 border border-white/30 hover:bg-white/10"
            class="w-full"
          />
          <p-button
            type="submit"
            label="{{ 'button.enter' | translate | uppercase }}"
            [text]="true"
            styleClass="p-4 w-full text-primary-50 border border-white/30 hover:bg-white/10"
            class="w-full"
            [disabled]="form.untouched"/> <!-- https://github.com/angular/angular/issues/30616 -->
        </div>

        <div class="flex flex-col justify-center gap-2">
          <span
            class="text-center text-primary-50 font-semibold">{{ 'component.form.login.footer.question' | translate }}</span>

          <div class="flex justify-center gap-2">
            <span class="cursor-pointer underline text-center text-primary-50 font-semibold"
                  (click)="goToRegister()">{{ 'component.form.login.footer.action' | translate }}</span>

            <span class="text-primary-50">{{ "prompt.or" | translate }}</span>

            <span class="cursor-pointer underline text-center text-primary-50 font-semibold"
                  (click)="dummySignIn()">{{ 'component.form.login.footer.action.use.dummy' | translate }}</span>
          </div>

        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
