<div class="flex flex-column gap-5">
  @for (address of addressList.data()?.payload; track address.id) {
    <div (click)="selectAddress(address.id)" [ngClass]="[
  'card flex flex-column gap-3 border-2 border-transparent border-round-xl',
  selected() === address.id ? 'border-primary transition-all transition-duration-300' : '',
  valid() ? '' : 'border-red-300 border-round-xl transition-all transition-duration-300'
  ]">
      <div class="flex flex-column gap-2">
        <span>Dirección: {{ address.street }}</span>
        <span>Número: {{ address.number }}</span>
        @if (address.details !== null) {
          <p>Detalles: {{ address.details }}</p>
        }
      </div>
    </div>
  }
</div>
