<div title="{{this.item().name['en']}} {{item().formatCode | translate}}"
     class="flex flex-col items-center rounded-lg cart-item justify-center">
  <div class="flex justify-center pt-3 pb-3">
    <!-- IMAGE -->

    <div class="flex items-center">
      <img
        class="rounded-border"
        ngSrc="{{isDarkMode() ? item().images.light : item().images.dark}}"
        width="80"
        height="80"
        alt="Cart Item Icon">
    </div>

    <!-- BODY -->
    <div class="flex flex-col justify-center items-center w-60 gap-2">

      <!-- 1ST ROW -> NAME + FORMAT -->
      <div class="flex items-start gap-1">
        <span title="{{this.item().name['en']}} {{item().formatCode}}"
              class="font-bold">{{ currentLang() === 'en' ? this.item().name['en'] : this.item().name['es'] }}</span>

        <div class="flex">
          @if (this.item().formats['s'] !== null) {
            <span title="{{this.item().name['en']}} {{item().formatCode}} Format"
                  class="font-bold">{{ currentLang() === 'en' ? this.item().formats['s']!['en'] : this.item().formats['s']!['es'] }}</span>
          }

          @if (this.item().formats['m'] !== null) {
            <span title="{{this.item().name['en']}} {{item().formatCode}} Format"
                  class="font-bold">{{ currentLang() === 'en' ? this.item().formats['m']!['en'] : this.item().formats['m']!['es'] }}</span>
          }

          @if (this.item().formats['l'] !== null) {
            <span title="{{this.item().name['en']}} {{item().formatCode}} Format"
                  class="font-bold">{{ currentLang() === 'en' ? this.item().formats['l']!['en'] : this.item().formats['l']!['es'] }}</span>
          }
        </div>
      </div>

      <!-- 2ND ROW -> PRICE AND BUTTON WITH Q -->
      <div class="flex justify-between gap-4">

        <!-- PRICE -->
        <p-button
          type="button"
          title="{{this.item().name['en']}} {{item().formatCode}} Price"
          size="small"
          label="{{ item().price.toFixed(2) }}€" [outlined]="true"
          [raised]="true"/>

        @if (viewOnly()) {
          <!-- X QUANTITY -->
          <div class="flex gap-4 items-center justify-center">
            <i title="Times Icon" class="pi pi-times"></i>
            <button
              title="{{this.item().name['en']}} {{item().formatCode}} Quantity"
              type="button"
              pButton
              size="small">
              {{ item().quantity }}
            </button>
          </div>
        } @else {
          <!-- BUTTONS -->
          <div class="flex gap-2 items-center justify-center">
            <p-button
              type="button"
              title="Increase {{this.item().name['en']}} {{item().formatCode}} Quantity"
              size="small"
              icon="pi pi-plus"
              [raised]="true"
              (click)="increaseItemQuantity(item().pseudoId)"/>

            <span title="{{this.item().name['en']}} {{item().formatCode}} Quantity">{{ item().quantity }}</span>

            <p-button
              type="button"
              title="Decrease {{this.item().name['en']}} {{item().formatCode}} Quantity"
              size="small"
              icon="pi pi-minus"
              [raised]="true"
              (click)="decreaseItemQuantity(item().pseudoId)"/>
          </div>
        }
      </div>

      @if (this.item().description['en'].length > 0) {
        <div class="flex flex-col gap-2" (click)="toggleIngredients()">
          <div class="flex items-center gap-1">
            <i
              title="Toggle {{this.item().name['en']}} {{item().formatCode}} Ingredients"
              style="color: var(--p-primary-color)"
              [ngClass]="[viewIngredients() ? 'pi pi-angle-down' : 'pi pi-angle-right']"></i>
            <span
              title="{{this.item().name['en']}} {{item().formatCode}} Ingredients"
              class="cursor-pointer">
              {{ "component.custom.pizza.ingredients" | translate }}
            </span>
          </div>
        </div>
      }
    </div>
  </div>

  @if (viewIngredients()) {
    <div class="flex flex-wrap justify-center align-middle text-center pb-2 ingredients-container">
      @if (currentLang() === 'es') {
        {{ this.item().description['es'].join(", ") }}
      } @else {
        {{ this.item().description['en'].join(", ") }}
      }
    </div>
  }
</div>
