<div class="flex flex-col items-center rounded-lg cart-item justify-center">
  <div class="flex justify-center pt-3 pb-3">
    <!-- IMAGE -->

    <div class="flex items-center">
      <img class="rounded-border image" ngSrc="{{item().images.dark}}"
           width="80"
           height="80"
           alt="Product image">
    </div>

    <!-- BODY -->
    <div class="flex flex-col justify-center items-center w-60 gap-2">

      <!-- 1ST ROW -> NAME + FORMAT -->
      <div class="flex items-start gap-1">
        <span class="font-bold">{{ currentLang() === 'en' ? item().name.en : item().name.es }}</span>

        <div class="flex">
          @if (item().formats.s !== null) {
            <span class="font-bold">{{ currentLang() === 'en' ? item().formats.s!.en : item().formats.s!.es }}</span>
          }

          @if (item().formats.m !== null) {
            <span class="font-bold">{{ currentLang() === 'en' ? item().formats.m!.en : item().formats.m!.es }}</span>
          }

          @if (item().formats.l !== null) {
            <span class="font-bold">{{ currentLang() === 'en' ? item().formats.l!.en : item().formats.l!.es }}</span>
          }
        </div>
      </div>

      <!-- 2ND ROW -> PRICE AND BUTTON WITH Q -->
      <div class="flex justify-between gap-4">

        <!-- PRICE -->
        <p-button type="button" size="small" label="{{ item().price.toFixed(2) }}€" [outlined]="true"
                  [raised]="true"/>

        @if (readOnly()) {
          <!-- X QUANTITY -->
          <div class="flex gap-4 items-center justify-center">
            <i class="pi pi-times"></i>
            <button type="button" pButton size="small">{{ item().quantity }}</button>
          </div>
        } @else {
          <!-- BUTTONS -->
          <div class="flex gap-2 items-center justify-center">
            <p-button type="button" size="small" icon="pi pi-plus" [raised]="true"
                      (click)="increaseItemQuantity(item().id)"/>
            <span>{{ item().quantity }}</span>
            <p-button type="button" size="small" icon="pi pi-minus" [raised]="true"
                      (click)="decreaseItemQuantity(item().id)"/>
          </div>
        }
      </div>

      @if (item().description.en.length > 0) {
        <div class="flex flex-col gap-2" (click)="toggleIngredients()">
          <div class="flex items-center gap-1">
            <i
              style="color: var(--p-primary-color)"
              [ngClass]="[viewIngredients() ? 'pi pi-angle-down' : 'pi pi-angle-right']"></i>
            <span class="cursor-pointer">{{ "component.custom.pizza.ingredients" | translate }}</span>
          </div>
        </div>
      }
    </div>
  </div>

  @if (viewIngredients()) {
    <div class="flex flex-wrap justify-center align-middle text-center pb-2 ingredients-container"
         @ingredientsAnimation>
      @if (currentLang() === 'es') {
        {{ item().description.es.join(", ") }}
      } @else {
        {{ item().description.en.join(", ") }}
      }
    </div>
  }
</div>
