.container-desc {
  background-color: var(--p-surface-card-inverse);
  border: 1px solid var(--p-surface-nav-item-border);
  border-radius: 7px;
  height: 25em;
  width: 15rem;
}

.container {
  background-color: var(--p-surface-card-inverse);
  border: 1px solid var(--p-surface-nav-item-border);
  border-radius: 7px;
  height: 20em;
  width: 15rem;
}

img {
  width: 225px;
  height: 150px;
  object-fit: fill;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.description {
  max-width: 14rem;
  gap: 0.2rem;
  min-height: 7rem;
}

.dialog-description {
  max-width: 25rem;
  gap: 0.2rem;
}

.allergens-icon-big {
  font-size: 4rem;
  color: var(--p-yellow-500);
  border-radius: 50%;
  cursor: pointer;
}
