<p-dialog
  (onHide)="cancelLogout()"
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '45vw', '575px': '90vw' }"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [position]="'topright'"
  [resizable]="false">
  <ng-template pTemplate="headless">
    <div class="flex flex-col items-center p-4 gap-6" title="Logout Box">

      <div class="flex flex-col items-center gap-1">
        <span class="font-bold text-2xl block" title="Header">{{ 'toast.severity.info' | translate }}</span>
        <p class="mb-0" title="Confirmation Question">{{ 'dialog.logout.confirm' | translate }}</p>
      </div>

      <div class="flex items-center gap-2">
        <p-button
          (click)="cancelLogout()"
          label="{{ 'prompt.no' | translate | uppercase }}"
          severity="danger"
          title="No"
          type="button"/>
        <p-button
          (click)="acceptLogout()"
          label="{{ 'prompt.yes' | translate | uppercase }}"
          severity="success"
          title="Yes"
          type="button"
        />
      </div>
    </div>
  </ng-template>
</p-dialog>
