<p-card title="Order Details">
  <div title="Order Details" class="flex flex-col gap-4">
    <span class="text-2xl text-primary">{{ "view.orderdetails.header" | translate }}</span>

    <div class="flex flex-col gap-2">

      <span title="Payment Method">{{ "view.payment.method" | translate }}: <span
        class="text-primary uppercase">{{ orderDetails().paymentMethod | translate }}</span></span>

      @if (orderDetails().billToChange !== null) {
        <span title="Bill to change">{{ "view.payment.bill.to.change" | translate }}: <span
          class="text-primary">{{ orderDetails().billToChange }}€</span></span>
      }

      @if (orderDetails().changeToGive !== null) {
        <span title="Change to give">{{ "view.payment.change.to.give" | translate }}: <span
          class="text-primary">{{ orderDetails().changeToGive }}€</span></span>
      }

      @if (orderDetails().comment !== null) {
        <div class="flex flex-col gap-2 text">
          <span title="Comment">{{ "view.comment" | translate }}: </span>
          <span class="italic text-primary">{{ orderDetails().comment }} </span>
        </div>
      }
    </div>
  </div>
</p-card>
