<p-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <div class="flex flex-col gap-12">
      <h1 class="text-center font-semibold text-4xl">{{ "component.form.register.title" | translate | uppercase }}</h1>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-user"/>
            <input
              [dt]="myInput(false)"
              class="w-full"
              formControlName="name"
              id="name"
              pInputText
              placeholder="{{'form.label.name' | translate }}"
              type="text"
            >
          </p-iconfield>
          <div *ngIf="form.controls.name.touched && form.controls.name.invalid"
               class="invalid-text">
            {{ "form.invalid.name" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-envelope"/>
            <input
              [dt]="myInput(false)"
              [ngClass]="['w-full', form.controls.matchingEmail.touched && form.hasError('emailsNotMatching')  ? 'invalid-border' : '' ]"
              formControlName="email"
              id="email"
              pInputText
              placeholder="{{'form.label.email' | translate }}"
              type="email"
            >
          </p-iconfield>
          <div *ngIf="form.controls.email.touched && form.controls.email.invalid"
               class="invalid-text">
            {{ "form.invalid.email" | translate }}
          </div>
          <div *ngIf="form.controls.matchingEmail.touched && form.hasError('emailsNotMatching')"
               class="invalid-text">
            {{ "form.invalid.email.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-envelope"/>
            <input
              [dt]="myInput(false)"
              [ngClass]="['w-full', form.controls.matchingEmail.touched && form.hasError('emailsNotMatching') ? 'invalid-border' : '' ]"
              formControlName="matchingEmail"
              id="matchingEmail"
              pInputText
              placeholder="{{'form.label.email.matching' | translate }}"
              type="email"
            >
          </p-iconfield>
          <div *ngIf="form.controls.matchingEmail.touched && (form.hasError('emailsNotMatching') || form.controls.matchingEmail.invalid)"
               class="invalid-text">
            {{ "form.invalid.email.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <p-inputicon styleClass="pi pi-phone"/>
            <input
              [dt]="myInput(false)"
              class="w-full"
              formControlName="contactNumber"
              id="contactNumber"
              pInputText
              placeholder="{{'form.label.contact.number' | translate }}"
              type="tel"
            >
          </p-iconfield>
          <div *ngIf="form.controls.contactNumber.touched && form.controls.contactNumber.invalid"
               class="invalid-text">
            {{ "form.invalid.contact.number" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              [dt]="myInput(false)"
              [ngClass]="['w-full', form.controls.matchingPassword.touched && form.hasError('passwordsNotMatching')  ? 'invalid-border' : '' ]"
              formControlName="password"
              id="password"
              pInputText
              placeholder="{{'form.label.password' | translate }}"
              type="{{showPassword() ? 'text' : 'password'}}"
            >
            <p-inputicon
              (click)="togglePassword()"
              styleClass="{{showPassword() ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          <div *ngIf="form.controls.password.touched && form.controls.password.invalid"
               class="invalid-text">
            {{ "form.invalid.password" | translate }}
          </div>
          <div *ngIf="form.controls.matchingPassword.touched && form.hasError('passwordsNotMatching')"
               class="invalid-text">
            {{ "form.invalid.password.matching" | translate }}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p-iconfield [dt]="myIcon('{primary.400}')">
            <input
              [dt]="myInput(false)"
              [ngClass]="['w-full', form.controls.matchingPassword.touched && form.hasError('passwordsNotMatching') ? 'invalid-border' : '' ]"
              formControlName="matchingPassword"
              id="matchingPassword"
              pInputText
              placeholder="{{'form.label.password.matching' | translate }}"
              type="{{showMatchingPassword() ? 'text' : 'password'}}"
            >
            <p-inputicon
              (click)="toggleMatchingPassword()"
              styleClass="{{showMatchingPassword() ? 'pi pi-eye-slash' : 'pi pi-eye'}}"/>
          </p-iconfield>
          <div
            *ngIf="form.controls.matchingPassword.touched && (form.hasError('passwordsNotMatching') || form.controls.matchingPassword.invalid)"
            class="invalid-text">
            {{ "form.invalid.password.matching" | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- STEP NAVIGATION BUTTONS -->
    <div class="buttons">
      <p-button
        (onClick)="cancel()"
        label="{{'button.cancel' | translate | uppercase }}"
        severity="danger"
        type="button"/>
      <p-button
        label="{{'button.continue' | translate | uppercase }}"
        type="submit"/>
    </div>

    <div class="flex flex-col items-center gap-4">
      <span>{{ "component.form.register.footer" | translate }}</span>
      <button
        (click)="showLoginDialog()"
        class="text-primary"
        type="button">
        {{ "component.form.register.link" | translate }}
      </button>
    </div>
  </form>
</p-card>
