@if (!checkoutFormService.isStepFilled(4)) {
  <div class="flex flex-col justify-between items-center gap-8 h-full w-full">
    <span class="text-center">{{ "component.form.step.five.warning" | translate }}</span>
    <p-button
      title="Start"
      type="button"
      (onClick)="firstStep()"
      label="{{ 'button.step.start' | translate | uppercase }}"/>
  </div>
} @else {
  <div class="flex flex-col justify-between gap-4 h-full w-full">
    <div class="flex flex-col gap-4 h-full w-full">

      <p-card title="Customer Details">
        <div class="flex flex-col gap-2">
          <span class="text-2xl text-primary">{{ "view.customer.header" | translate }}</span>

          @if (authService.isAuthenticated()) {
            <app-user-details/>
          } @else {
            <app-user-details [anon]="checkoutFormService.who!"/>
          }

        </div>
      </p-card>

      <p-card title="Delivery Details">
        <div class="flex flex-col gap-2">
          <span class="text-2xl text-primary">{{ "view.delivery.header" | translate }}</span>

          @if (checkoutFormService.where === null) {
            @if (selectedStore !== null) {

              <div class="flex flex-col gap-2">

              <span>{{ "view.delivery.pickup.time.selected" | translate }}:
                <span class="text-primary uppercase">{{ checkoutFormService.when!.deliveryTime | translate }}</span>
              </span>

                <div class="flex flex-col gap-4">
                  <span>{{ "view.delivery.pickup.store.selected" | translate }}:</span>
                  <app-store-checkout [invalid]="true" [store]="selectedStore" [highlight]="true"/>
                </div>

              </div>
            }

            @if (selectedAddress !== null) {

              <span>{{ "view.delivery.time.selected" | translate }}:
                <span class="text-primary uppercase">{{ checkoutFormService.when!.deliveryTime | translate }}</span>
              </span>

              <span>{{ "form.label.delivery.address" | translate }}:
                <span class="text-primary uppercase">{{ selectedAddress.street }}</span>
            </span>

              <span>{{ "form.label.delivery.number" | translate }}:
                <span class="text-primary">{{ selectedAddress.number }}</span>
            </span>

              @if (selectedAddress.details !== null) {
                <span>{{ "form.label.delivery.details" | translate }}:
                <span class="text-primary uppercase">{{ selectedAddress.details }}</span>
              </span>
              }
            }
          } @else {

            <span>{{ "view.delivery.time.selected" | translate }}:
                <span class="text-primary uppercase">{{ checkoutFormService.when!.deliveryTime | translate }}</span>
              </span>

            <span>{{ "form.label.delivery.address" | translate }}:
                <span class="text-primary uppercase">{{ checkoutFormService.where!.street }}</span>
            </span>

            <span>{{ "form.label.delivery.number" | translate }}:
                <span class="text-primary">{{ checkoutFormService.where!.number }}</span>
            </span>

            @if (checkoutFormService.where!.details !== null) {
              <span>{{ "form.label.delivery.details" | translate }}:
                <span class="text-primary uppercase">{{ checkoutFormService.where!.details }}</span>
              </span>
            }
          }

        </div>
      </p-card>

      <p-card title="Order Details">
        <div class="flex flex-col gap-2">
          <span class="text-2xl text-primary">{{ "view.orderdetails.header" | translate }}</span>

          <span>{{ "view.payment.method" | translate }}:
              <span class="text-primary uppercase">{{ checkoutFormService.how!.paymentMethod | translate }}</span>
            </span>

          @if (checkoutFormService.how!.billToChange !== null) {
            <span>{{ "view.payment.bill.to.change" | translate }}:
              <span class="text-primary">
                {{ checkoutFormService.how?.billToChange }}€
              </span>
            </span>
          }

          <form [formGroup]="form">
            <div class="flex flex-col gap-4">

              <label for="comment">{{ "component.form.step.five.comment.advice" | translate }}</label>
              <textarea
                title="Comment"
                id="comment"
                formControlName="comment"
                pTextarea>
              </textarea>

              @if (!form.controls.comment.untouched && !form.controls.comment.valid) {
                <span
                  title="Invalid Comment"
                  id="comment-help"
                  class="invalid-text">{{ "form.invalid.comment" | translate }}
                </span>
              }
            </div>
          </form>

        </div>
      </p-card>
    </div>

    <div class="buttons">
      <p-button
        title="Previous"
        type="button"
        (onClick)="previousStep()"
        label="{{ 'button.step.previous' | translate | uppercase }}"/>
      <p-button
        title="Cancel"
        type="button"
        severity="danger"
        (onClick)="cancel()"
        label="{{ 'button.cancel' | translate | uppercase }}"/>
      <p-button
        title="Order"
        type="button"
        [severity]="'success'"
        (onClick)="onSubmit()"
        [disabled]="cartService.isEmpty()"
        label="{{ 'button.order.confirm' | translate | uppercase }}"/>
    </div>
  </div>
}
