.card {
  background: var(--p-surface-card-inverse);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 1rem;
}

.invalid-border {
  border-color: #f87171;
}

.store {
  display: flex;
  gap: 3rem;
}

@media (max-width: 578px) {
  .store {
    flex-direction: column;
    gap: 1.5rem;
  }
}
