<div class="flex flex-col gap-4">
  @if (addressList.status() === "success") {
    @if (addressList.data()!.payload !== null) {
      @for (address of addressList.data()!.payload; track address.id) {
        <div
          (click)="selectAddress(address.id)"
          [ngClass]="['card flex flex-col gap-4 border-2 border-transparent rounded-xl',
          selected() === address.id ? '!border-primary transition-all duration-300' : '',
          valid() ? '' : '!border-red-700 rounded-xl transition-all duration-300']">

          <span title="Location">{{ "form.label.delivery.address" | translate }}: {{ address.street }}</span>
          <span title="Number">{{ "form.label.delivery.number" | translate }}: {{ address.number }}</span>

          @if (address.details !== null) {
            <span title="Details">{{ "form.label.delivery.details" | translate }}: {{ address.details }}</span>
          }
        </div>
      }
    } @else {
      <span>{{ "component.form.step.two.user.address.list.empty" | translate }}</span>
    }
  } @else if (addressList.status() === "error") {
    <app-server-error/>
  }
</div>
